USE [DMProcessDB_Delta]
GO
/****** Object:  StoredProcedure [dbo].[INACTIVE_BAD_DATA]    Script Date: 06/24/2019 17:34:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lokesh Podigiri
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[INACTIVE_BAD_DATA] 
		@SITE_ID NVARCHAR (MAX)=NULL
AS
BEGIN
	UPDATE dbo.LOAD_ALT_ALIAS_ID SET STATUS='1' , COMMENTS='EMPTY PART NUMBER' WHERE  (ITEM_ID='' or LEN(ITEM_ID)<1) AND SITE=@SITE_ID;
	UPDATE dbo.LOAD_DATASETS SET STATUS='1' , COMMENTS='EMPTY PART NUMBER' WHERE  (PART_NUMBER='' or LEN(PART_NUMBER)<1) AND SITE=@SITE_ID;
	UPDATE dbo.LOAD_DATASETS_FILESPATH SET STATUS='1' , COMMENTS='EMPTY PART NUMBER' WHERE  (PART_NUMBER='' or LEN(PART_NUMBER)<1)  AND SITE=@SITE_ID;
	UPDATE dbo.LOAD_DATASETS_TRANS SET STATUS='1' , COMMENTS='EMPTY PART NUMBER' WHERE  (PART_NUMBER='' or LEN(PART_NUMBER)<1)  AND SITE=@SITE_ID;
	UPDATE dbo.LOAD_ETO SET STATUS='1' , COMMENTS='EMPTY ETO NUMBER' WHERE  (ETO_NUMBER='' or LEN(ETO_NUMBER)<1) AND SITE=@SITE_ID;
	UPDATE dbo.LOAD_MATERIALCODE SET STATUS='1' , COMMENTS='EMPTY PART NUMBER' WHERE  (PART_NUMBER='' or LEN(PART_NUMBER)<1) AND SITE=@SITE_ID;
	UPDATE dbo.LOAD_PARTDRAWING SET STATUS='1' , COMMENTS='EMPTY DRAWING ITEM ID' WHERE  (DRAWING_ID='' or LEN(DRAWING_ID)<1) AND SITE=@SITE_ID;
	UPDATE dbo.LOAD_PARTREVISION SET STATUS='1' , COMMENTS='EMPTY PART NUMBER' WHERE  (PART_NUMBER='' or LEN(PART_NUMBER)<1) AND SITE=@SITE_ID;
	UPDATE dbo.LOAD_PARTREVISION SET STATUS='2' , COMMENTS='PART NUMBER LENGTH > 18' WHERE LEN(PART_NUMBER)>18 AND SITE=@SITE_ID;
	UPDATE dbo.LOAD_PCN SET STATUS='1' , COMMENTS='EMPTY PCN NUMBER' WHERE (PCN_NUMBER='' or LEN(PCN_NUMBER)<1) AND SITE=@SITE_ID;;

END
GO
