USE [DMProcessDB_Delta]
GO
/****** Object:  StoredProcedure [dbo].[TRUNCATE_DB]    Script Date: 06/24/2019 17:34:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lokesh Podigiri
-- Create date: 04-Jan-2017
-- Description:	Truncate All Tables in DMProcessDB
-- =============================================
CREATE PROCEDURE [dbo].[TRUNCATE_DB] 
	
AS
BEGIN
	
	TRUNCATE TABLE dbo.LOAD_ALT_ALIAS_ID;
	TRUNCATE TABLE dbo.LOAD_DATASETS;
	TRUNCATE TABLE dbo.LOAD_DATASETS_FILESPATH;
	TRUNCATE TABLE dbo.LOAD_DATASETS_TRANS;
	TRUNCATE TABLE dbo.LOAD_DOCITEM_REFERENCES;
	TRUNCATE TABLE dbo.LOAD_DOCUMENT_SUBTYPE;
	TRUNCATE TABLE dbo.LOAD_DOCUMENTNUMBER;
	TRUNCATE TABLE dbo.LOAD_ETO;
	TRUNCATE TABLE dbo.LOAD_ETO_REV;
	--TRUNCATE TABLE dbo.LOAD_LED_ALT_ALIAS_ID;
	TRUNCATE TABLE dbo.LOAD_LED_CERTIFICATE;
	TRUNCATE TABLE dbo.LOAD_LED_IOM;
	TRUNCATE TABLE dbo.LOAD_LED_IR;
	TRUNCATE TABLE dbo.LOAD_LED_SUPPORTPARTS;
	TRUNCATE TABLE dbo.LOAD_LED_SUPPORTPRODUCT;
	--TRUNCATE TABLE dbo.LOAD_MATERIALCODE;
	TRUNCATE TABLE dbo.LOAD_PARTDRAWING;
	TRUNCATE TABLE dbo.LOAD_PARTREVISION;
	TRUNCATE TABLE dbo.LOAD_PCN;
	TRUNCATE TABLE dbo.LOAD_PCN_REL;
END
GO
