USE [DMProcessDB_Delta]
GO
/****** Object:  StoredProcedure [dbo].[NORMALIZE_DOCUMENT_DATA]    Script Date: 06/24/2019 17:34:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[NORMALIZE_DOCUMENT_DATA] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	truncate table [dbo].LOAD_DOCUMENTNUMBER
	/*Alternate_ID Inserting ALTERNATE_ID records into table DocumentNumber...*/
	insert into [dbo].LOAD_DOCUMENTNUMBER select t1.part_number, t1.part_revision, t1.part_type, t2.alternate_id, t1.part_revision, 'ALTERNATE_ID', t1.site, GETDATE() 
	from [dbo].LOAD_PARTREVISION t1, [dbo].LOAD_ALT_ALIAS_ID t2 
	where t1.PART_NUMBER = t2.item_id and t2.ALTERNATE_ID <> '' and t1.PART_TYPE not in ('Drawing Item Revision','DocumentRevision');
	
	 /*Alias_ID Inserting ALIAS_ID records into table DocumentNumber...*/
	insert into [dbo].LOAD_DOCUMENTNUMBER select t1.part_number, t1.part_revision, t1.part_type, t2.alias_id, t1.part_revision, 'ALIAS_ID', t1.site, GETDATE() 
	from [dbo].LOAD_PARTREVISION t1, [dbo].LOAD_ALT_ALIAS_ID t2 
	where t1.PART_NUMBER = t2.item_id and t2.ALIAS_ID <> '' and t1.PART_TYPE not in ('Drawing Item Revision','DocumentRevision');
	
	
	 /*MATCODE_MATERIALS Inserting MATCODE_MATERIALS records into table DocumentNumber...
	insert into [dbo].LOAD_DOCUMENTNUMBER SELECT t1.PART_NUMBER,t1.PART_REVISION,'WGP4_MatSpecRevision',t1.MAT_LOCAL_CODE,t1.PART_REVISION,'MATCODE_MATERIALS',t1.SITE, GETDATE() 
	from [dbo].LOAD_MATERIALCODE t1 
	where t1.PART_NUMBER<>'';
	
	/*Drawing_ID{"Inserting DRAWING_ID records into table DocumentNumber...*/
	insert into [dbo].LOAD_DOCUMENTNUMBER (PART_NUMBER,PART_REVISION,PART_TYPE,DRAWING_NUMBER,DRAWING_REVISION,DRAWING_TYPE,SITE)  SELECT PD.ITEM_ID,PD.ITEM_REV,PR.PART_TYPE,PD.DRAWING_ID,PD.DRAWING_REV,'DRAWING_ITEM_VIEW',PD.SITE 
	FROM [dbo].LOAD_PARTDRAWING PD 
	LEFT JOIN [dbo].LOAD_PARTREVISION PR ON PD.ITEM_ID = PR.PART_NUMBER AND PD.SITE = PR.SITE 
	WHERE PD.ITEM_ID <> '';

	/*DRAWING_ITEM_ID {"Inserting DRAWING_ITEM_ID records into table DocumentNumber...*/
	insert into [dbo].LOAD_DOCUMENTNUMBER (PART_NUMBER,PART_REVISION,PART_TYPE,DRAWING_NUMBER,DRAWING_REVISION,DRAWING_TYPE,SITE)	SELECT PD.DRAWING_ID,PD.DRAWING_REV,'Drawing Item Revision',PD.DRAWING_ID,PD.DRAWING_REV,'DRAWING_ITEM_ID',PD.SITE 	
	FROM [dbo].LOAD_PARTDRAWING PD WHERE PD.ITEM_ID = '';
	
	/*DRAWING_ITEM_ID {"Inserting DRAWING_ITEM_ID records into table DocumentNumber...*/
	insert into [dbo].LOAD_DOCUMENTNUMBER (PART_NUMBER,PART_REVISION,PART_TYPE,DRAWING_NUMBER,DRAWING_REVISION,DRAWING_TYPE,SITE)	SELECT Distinct PR.[PART_NUMBER],PR.[PART_REVISION],PR.[PART_TYPE],PR.[PART_NUMBER],PR.[PART_REVISION],'DRAWING_ITEM_ID',PR.SITE 
	FROM [dbo].[LOAD_PARTREVISION] PR 
	WHERE NOT EXISTS (select * from LOAD_PARTDRAWING PD where PD.DRAWING_ID=PR.[PART_NUMBER] and PD.DRAWING_REV=PR.PART_REVISION)
	AND NOT EXISTS (select * from LOAD_ALT_ALIAS_ID ALT where ALT.ALTERNATE_ID=PR.[PART_NUMBER]) 
	AND NOT EXISTS (select * from LOAD_ALT_ALIAS_ID ALIAS where ALIAS.ALIAS_ID=PR.[PART_NUMBER]) AND PR.[PART_TYPE]='Drawing Item Revision';
	       		 
	/*DOC_ITEM_ID{"Inserting DOC_ITEM_ID records into table DocumentNumber...*/
	insert into [dbo].LOAD_DOCUMENTNUMBER (PART_NUMBER,PART_REVISION,PART_TYPE,DRAWING_NUMBER,DRAWING_REVISION,DRAWING_TYPE,SITE)	SELECT [PART_NUMBER],[PART_REVISION],[PART_TYPE],[PART_NUMBER],[PART_REVISION],'DOC_ITEM_ID',SITE 
	FROM [dbo].LOAD_PARTREVISION 
	WHERE [PART_TYPE]='DocumentRevision' AND [PART_NUMBER] NOT Like 'SysDoC%';*/
	
	
	
	--Updating Status for Multiple Drawing Items into table LOAD_PARTDRAWING...
	UPDATE dbo.LOAD_PARTDRAWING SET STATUS='1' WHERE ITEM_ID IN (SELECT DISTINCT ITEM_ID FROM LOAD_PARTDRAWING WHERE ITEM_ID IN ( SELECT ITEM_ID FROM LOAD_PARTDRAWING GROUP BY ITEM_ID HAVING COUNT(*) >1) GROUP BY  ITEM_ID,DRAWING_ID);
	--Inserting DRAWING_ID records into table DocumentNumber...
	insert into dbo.LOAD_DOCUMENTNUMBER (PART_NUMBER,PART_REVISION,PART_TYPE,DRAWING_NUMBER,DRAWING_REVISION,DRAWING_TYPE,SITE)  SELECT PD.ITEM_ID,PD.ITEM_REV,PR.PART_TYPE,PD.DRAWING_ID,PD.DRAWING_REV,'DRAWING_ITEM_VIEW',PD.SITE FROM dbo.LOAD_PARTDRAWING PD LEFT JOIN dbo.LOAD_PARTREVISION PR ON PD.ITEM_ID = PR.PART_NUMBER AND PD.SITE = PR.SITE WHERE PD.ITEM_ID <> '' AND PD.STATUS=0;
	--Inserting DRAWING_ITEM_ID records into table DocumentNumber...
	insert into dbo.LOAD_DOCUMENTNUMBER (PART_NUMBER,PART_REVISION,PART_TYPE,DRAWING_NUMBER,DRAWING_REVISION,DRAWING_TYPE,SITE)	SELECT Distinct PR.[PART_NUMBER],PR.[PART_REVISION],PR.[PART_TYPE],PR.[PART_NUMBER],PR.[PART_REVISION],'DRAWING_ITEM_ID',PR.SITE FROM [dbo].[LOAD_PARTREVISION] PR WHERE PR.[PART_NUMBER] NOT IN (select DISTINCT PD.DRAWING_ID from LOAD_PARTDRAWING PD where PD.DRAWING_ID is NOT NULL UNION select DISTINCT ALT.ALTERNATE_ID from LOAD_ALT_ALIAS_ID ALT WHERE ALT.ALTERNATE_ID is NOT NULL UNION select ALIAS.ALIAS_ID from LOAD_ALT_ALIAS_ID ALIAS where ALIAS.ALIAS_ID  is not NULL) AND  PR.[PART_TYPE]='Drawing Item Revision';
	--Inserting DOC_ITEM_ID records into table DocumentNumber...
	insert into dbo.LOAD_DOCUMENTNUMBER (PART_NUMBER,PART_REVISION,PART_TYPE,DRAWING_NUMBER,DRAWING_REVISION,DRAWING_TYPE,SITE)	SELECT [PART_NUMBER],[PART_REVISION],[PART_TYPE],[PART_NUMBER],[PART_REVISION],'DOC_ITEM_ID',SITE FROM dbo.LOAD_PARTREVISION WHERE [PART_TYPE]='DocumentRevision' AND [PART_NUMBER] NOT Like 'SysDoC%';
	        			  
END
GO
