USE [DMProcessDB_Delta]
GO
/****** Object:  StoredProcedure [dbo].[TRASNFROMATION_DATASET]    Script Date: 06/24/2019 17:34:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TRASNFROMATION_DATASET]  
		
AS
BEGIN

      UPDATE dbo.LOAD_DATASETS SET IS_DOCNUMBER = '0' FROM dbo.LOAD_DATASETS;
      
      UPDATE dbo.LOAD_DATASETS SET IS_PRT_UNDER_DRW = '0' FROM dbo.LOAD_DATASETS;
	 
	-- Removed the condition PD.PUID = DS.PUID AND	 as the PUID doesn't match
	  UPDATE dbo.LOAD_DATASETS 
	  set IS_DOCNUMBER = 'Y' 
	  where puid in (select distinct DS.PUID from dbo.LOAD_DATASETS DS, dbo.LOAD_PARTDRAWING pd where DS.PART_NUMBER = PD.DRAWING_ID and DS.PART_REVISION = PD.DRAWING_REV AND PD.ITEM_ID <>'' AND PD.ITEM_REV <>'' AND  PD.SITE = DS.SITE);
	  
	  update dbo.LOAD_DATASETS 
	  set  IS_PRT_UNDER_DRW = 'Y' 
	  where PART_NUMBER  in (select distinct ITEM_ID from dbo.LOAD_PARTDRAWING PD, dbo.LOAD_DATASETS DS where DS.PART_NUMBER = PD.ITEM_ID and DS.PART_REVISION = PD.ITEM_REV and PD.DRAWING_ID <>'' and PD.DRAWING_REV <>'' and PD.SITE = DS.SITE );
	  
	  UPDATE dbo.LOAD_DATASETS set  IS_DOCNUMBER = '0' , IS_PRT_UNDER_DRW = '0' WHERE PART_NUMBER in 
	  ( SELECT ITEM_ID FROM DMProcessDB.dbo.LOAD_ALT_ALIAS_ID WHERE  LEN(ALIAS_ID) >0 OR  LEN(ALTERNATE_ID) >0);

	  
	  insert into dbo.LOAD_DATASETS_TRANS 
	  SELECT PART_NUMBER, PART_REVISION, PART_TYPE, DATASET_NAME, DATASET_TYPE, DATASET_DESCRIPTION, DATASET_CREATED_DATE,DATASET_REL_STATUS,DATASET_REL_DATE,STATUS, 'Part Centric',IS_DOCNUMBER,IS_PRT_UNDER_DRW, SITE,PUID,OBJ_TAG,DATE_IMPORTED 
	  FROM dbo.LOAD_DATASETS 
	  WHERE (IS_DOCNUMBER = '0' AND IS_PRT_UNDER_DRW = '0') AND STATUS = '0' AND DATASET_TYPE IN ( 'DetailedPDF', 'Non DetailedPDF', 'MaterialSpecSheet', 'PDF','Tech Rebuild CenterPDF','Zip','MISC' ) AND PART_TYPE <> 'DocumentRevision' ;
	  
	  INSERT dbo.LOAD_DATASETS_TRANS 
	  SELECT DISTINCT DN.PART_NUMBER,DN.PART_REVISION,DN.PART_TYPE,DS.DATASET_NAME,DS.DATASET_TYPE, DS.DATASET_DESCRIPTION,DS.DATASET_CREATED_DATE,DS.DATASET_REL_STATUS,DS.DATASET_REL_DATE, DS.STATUS,'Drawing Centric',DS.IS_DOCNUMBER,DS.IS_PRT_UNDER_DRW,DS.SITE, DS.PUID,DS.OBJ_TAG,DS.DATE_IMPORTED 
	  FROM dbo.LOAD_DATASETS DS , dbo.LOAD_DOCUMENTNUMBER DN 
	  WHERE DS.PART_NUMBER = DN.DRAWING_NUMBER AND DS.PART_REVISION = DN.DRAWING_REVISION AND DS.SITE = DN.SITE AND DN.PART_TYPE <> 'Drawing Item Revision' AND (DS.IS_DOCNUMBER = 'Y' OR DS.IS_PRT_UNDER_DRW = 'Y') AND DS.STATUS = '0' AND DS.DATASET_TYPE IN ( 'DetailedPDF', 'Non DetailedPDF', 'MaterialSpecSheet', 'PDF','Tech Rebuild CenterPDF', 'Zip','MISC') AND DS.PART_TYPE <> 'DocumentRevision';
	  
	  INSERT dbo.LOAD_DATASETS_TRANS 
	  SELECT DISTINCT DN.PART_NUMBER, DN.PART_REVISION, DN.PART_TYPE, DS.DATASET_NAME, DS.DATASET_TYPE, DS.DATASET_DESCRIPTION,DS.DATASET_CREATED_DATE,DS.DATASET_REL_STATUS, DS.DATASET_REL_DATE, DS.STATUS,DS.COMMENTS,DS.IS_DOCNUMBER, DS.IS_PRT_UNDER_DRW,DS.SITE,DS.PUID, DS.OBJ_TAG,DS.DATE_IMPORTED 
	  FROM dbo.LOAD_DATASETS DS, dbo.LOAD_DOCUMENTNUMBER DN 
	  WHERE DS.PART_NUMBER = DN.DRAWING_NUMBER AND DS.PART_REVISION = DN.DRAWING_REVISION AND DS.SITE = DN.SITE AND DS.STATUS = '0' AND  DS.PART_TYPE = 'DocumentRevision';


      
            

   END
GO
