USE [master]
GO
/****** Object:  Database [DMProcessDB_Delta]    Script Date: 06/24/2019 17:31:49 ******/
CREATE DATABASE [DMProcessDB_Delta] ON  PRIMARY 
( NAME = N'DMProcessDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\DMProcessDB_Delta.mdf' , SIZE = 765952KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DMProcessDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\DMProcessDB_Delta_log.ldf' , SIZE = 1461184KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DMProcessDB_Delta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DMProcessDB_Delta]
GO
/****** Object:  User [engsys]    Script Date: 06/24/2019 17:31:49 ******/
CREATE USER [engsys] FOR LOGIN [engsys] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [datamartprod]    Script Date: 06/24/2019 17:31:49 ******/
CREATE USER [datamartprod] FOR LOGIN [datamartprod] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Destination for PACARTDMRT01 SQLDATAMART DMProcessDB infodba]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destination for PACARTDMRT01 SQLDATAMART DMProcessDB infodba](
	[row_Id] [numeric](20, 0) NULL,
	[rows_Id] [numeric](20, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XMLwithOpenXML]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XMLwithOpenXML](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[XMLData] [xml] NULL,
	[LoadedDateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAD_XMLTABLE]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAD_XMLTABLE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[XMLData] [xml] NULL,
	[LoadedDateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAD_PCN_REL]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAD_PCN_REL](
	[PCN_NUMBER] [varchar](128) NULL,
	[PCN_REVISION] [varchar](20) NULL,
	[RELATION_NAME] [varchar](30) NULL,
	[RELATED_ITEM] [varchar](128) NULL,
	[RELATED_ITEM_REVISION] [varchar](128) NULL,
	[STATUS] [char](1) NULL,
	[PUID] [varchar](20) NULL,
	[DATE_IMPORTED] [datetime2](7) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAD_PCN]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAD_PCN](
	[PCN_NUMBER] [varchar](128) NULL,
	[PCN_REVISION] [varchar](20) NULL,
	[SYNOPSIS] [varchar](256) NULL,
	[PCN_DESCRIPTION] [varchar](256) NULL,
	[STATUS] [nchar](1) NULL,
	[COMMENTS] [varchar](50) NULL,
	[SITE] [varchar](20) NULL,
	[PUID] [varchar](20) NULL,
	[DATE_IMPORTED] [datetime2](0) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAD_PARTREVISION]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAD_PARTREVISION](
	[PART_NUMBER] [varchar](128) NULL,
	[PART_REVISION] [varchar](32) NULL,
	[PART_TYPE] [varchar](32) NULL,
	[PART_DESCRIPTION] [varchar](252) NULL,
	[ERP_PART_NAME] [varchar](128) NULL,
	[ERP_PART_DESC] [varchar](256) NULL,
	[DCO] [varchar](256) NULL,
	[DATE_CREATED] [datetime2](0) NULL,
	[DATE_RELEASED] [datetime2](0) NULL,
	[RELEASE_STATUS] [varchar](20) NULL,
	[WLENGTH] [varchar](20) NULL,
	[WIDTH] [varchar](20) NULL,
	[HEIGHT] [varchar](20) NULL,
	[WEIGHT] [varchar](20) NULL,
	[ENCUMBRANCE] [varchar](32) NULL,
	[MATERIAL_CODE] [varchar](10) NULL,
	[T4S_ENABLED] [varchar](5) NULL,
	[STATUS] [char](1) NULL,
	[COMMENTS] [varchar](50) NULL,
	[SITE] [varchar](10) NULL,
	[PUID] [varchar](20) NULL,
	[OBJ_TAG] [numeric](20, 0) NULL,
	[DATE_IMPORTED] [datetime2](0) NULL,
	[T4S_MM_STATUS] [varchar](50) NULL,
	[T4S_DIR_STATUS] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAD_PARTDRAWING]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAD_PARTDRAWING](
	[DRAWING_ID] [varchar](128) NULL,
	[DRAWING_REV] [varchar](32) NULL,
	[ITEM_ID] [varchar](128) NULL,
	[ITEM_REV] [varchar](32) NULL,
	[SITE] [varchar](10) NULL,
	[PUID] [varchar](20) NULL,
	[OBJ_TAG] [numeric](20, 0) NULL,
	[STATUS] [char](1) NULL,
	[COMMENTS] [varchar](50) NULL,
	[DATE_IMPORTED] [datetime2](0) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAD_MATERIALCODE]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAD_MATERIALCODE](
	[PART_NUMBER] [varchar](128) NULL,
	[PART_REVISION] [varchar](32) NULL,
	[MAT_LOCAL_CODE] [varchar](10) NULL,
	[SITE] [varchar](26) NULL,
	[PUID] [varchar](20) NULL,
	[OBJ_TAG] [numeric](20, 0) NULL,
	[STATUS] [char](1) NULL,
	[COMMENTS] [nchar](50) NULL,
	[DATE_IMPORTED] [datetime2](0) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAD_LED_SUPPORTPRODUCT]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAD_LED_SUPPORTPRODUCT](
	[LED_ITEM_ID] [varchar](128) NULL,
	[LED_ITEM_REVISION] [varchar](32) NULL,
	[SUPPORT_PRODUCT_ITEM_ID] [varchar](128) NULL,
	[SITE] [varchar](10) NULL,
	[PUID] [varchar](20) NULL,
	[OBJ_TAG] [numeric](20, 0) NULL,
	[STATUS] [char](1) NULL,
	[COMMENTS] [nvarchar](50) NULL,
	[DATE_IMPORTED] [datetime2](0) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAD_LED_SUPPORTPARTS]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAD_LED_SUPPORTPARTS](
	[LED_ITEM_ID] [varchar](128) NULL,
	[LED_ITEM_REVISION] [varchar](32) NULL,
	[SUPPORT_PART_ITEM_ID] [varchar](128) NULL,
	[SITE] [varchar](10) NULL,
	[PUID] [varchar](20) NULL,
	[OBJ_TAG] [numeric](20, 0) NULL,
	[STATUS] [char](1) NULL,
	[COMMENTS] [nvarchar](50) NULL,
	[DATE_IMPORTED] [datetime2](0) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAD_LED_IR]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAD_LED_IR](
	[LED_ITEM_ID] [varchar](max) NULL,
	[LED_REVISION] [varchar](32) NULL,
	[LED_ITEMTYPE] [nvarchar](32) NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[WLL] [nvarchar](20) NULL,
	[TARE] [nvarchar](20) NULL,
	[WLENGTH] [nvarchar](20) NULL,
	[WIDTH] [nvarchar](20) NULL,
	[HEIGHT] [nvarchar](20) NULL,
	[DCO] [varchar](256) NULL,
	[RELEASE_STATUS] [varchar](20) NULL,
	[SITE] [varchar](10) NULL,
	[PUID] [nvarchar](20) NULL,
	[OBJ_TAG] [numeric](20, 0) NULL,
	[DATE_IMPORTED] [datetime2](0) NULL,
	[COMMENTS] [varchar](50) NULL,
	[STATUS] [char](1) NULL,
	[DATE_CREATED] [datetime2](0) NULL,
	[DATE_RELEASED] [datetime2](0) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAD_LED_IOM]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAD_LED_IOM](
	[LED_ITEM_ID] [varchar](128) NULL,
	[LED_ITEM_REVISION] [varchar](32) NULL,
	[IOM_ITEM_ID] [varchar](128) NULL,
	[SITE] [varchar](10) NULL,
	[PUID] [varchar](20) NULL,
	[OBJ_TAG] [numeric](20, 0) NULL,
	[STATUS] [char](1) NULL,
	[COMMENTS] [nvarchar](50) NULL,
	[DATE_IMPORTED] [datetime2](0) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAD_LED_CERTIFICATE]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAD_LED_CERTIFICATE](
	[LED_ITEM_ID] [varchar](128) NULL,
	[LED_ITEM_REVISION] [varchar](32) NULL,
	[CERTIFICATE_ITEM_ID] [varchar](128) NULL,
	[SITE] [varchar](10) NULL,
	[PUID] [varchar](20) NULL,
	[OBJ_TAG] [numeric](20, 0) NULL,
	[STATUS] [char](1) NULL,
	[COMMENTS] [nvarchar](50) NULL,
	[DATE_IMPORTED] [datetime2](0) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAD_LED_ALT_ALIAS_ID]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAD_LED_ALT_ALIAS_ID](
	[LED_ITEM_ID] [varchar](128) NULL,
	[ALIAS_ID] [varchar](128) NULL,
	[ALTERNATE_ID] [varchar](128) NULL,
	[SITE] [varchar](10) NULL,
	[PUID] [varchar](20) NULL,
	[OBJ_TAG] [numeric](20, 0) NULL,
	[STATUS] [char](1) NULL,
	[COMMENTS] [nvarchar](50) NULL,
	[DATE_IMPORTED] [datetime2](0) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAD_ETO_REV]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAD_ETO_REV](
	[ETO_NUMBER] [varchar](128) NULL,
	[ETO_REVISION] [varchar](20) NULL,
	[PROJECT_NAME] [varchar](128) NULL,
	[ORDER_NUMBER] [varchar](128) NULL,
	[CUSTOMER] [varchar](128) NULL,
	[RELATION_NAME] [varchar](128) NULL,
	[RELATED_ITEM] [varchar](128) NULL,
	[RELATED_ITEM_REVISION] [varchar](20) NULL,
	[STATUS] [char](1) NULL,
	[COMMENTS] [varchar](50) NULL,
	[SITE] [varchar](20) NULL,
	[PUID] [varchar](20) NULL,
	[OBJ_TAG] [numeric](20, 0) NULL,
	[DATE_IMPORTED] [datetime2](0) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAD_ETO]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAD_ETO](
	[ETO_NUMBER] [varchar](128) NULL,
	[ETO_REVISION] [varchar](20) NULL,
	[PROJECT_NAME] [varchar](128) NULL,
	[ORDER_NUMBER] [varchar](128) NULL,
	[CUSTOMER] [varchar](128) NULL,
	[GA_DRAWING] [varchar](128) NULL,
	[GA_DRAWING_REVISION] [varchar](20) NULL,
	[DOCUMENT] [varchar](128) NULL,
	[DOCUMENT_REVISION] [varchar](20) NULL,
	[ROUTING] [varchar](128) NULL,
	[REFERENCE_ITEM] [varchar](128) NULL,
	[REFERENCES_REVISION] [varchar](20) NULL,
	[ORDER_PARTS] [varchar](128) NULL,
	[ORDER_PARTS_REVISION] [varchar](20) NULL,
	[STATUS] [char](1) NULL,
	[COMMENTS] [varchar](50) NULL,
	[SITE] [varchar](20) NULL,
	[PUID] [varchar](20) NULL,
	[OBJ_TAG] [numeric](20, 0) NULL,
	[DATE_IMPORTED] [datetime2](0) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAD_DOCUMENTNUMBER]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAD_DOCUMENTNUMBER](
	[PART_NUMBER] [varchar](128) NOT NULL,
	[PART_REVISION] [varchar](20) NOT NULL,
	[PART_TYPE] [varchar](32) NULL,
	[DRAWING_NUMBER] [varchar](128) NULL,
	[DRAWING_REVISION] [varchar](20) NULL,
	[DRAWING_TYPE] [varchar](32) NULL,
	[SITE] [varchar](20) NULL,
	[DATE_IMPORTED] [datetime2](0) NULL,
 CONSTRAINT [PK_LOAD_DOCUMENTNUMBER] PRIMARY KEY CLUSTERED 
(
	[PART_NUMBER] ASC,
	[PART_REVISION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = ON, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAD_DOCUMENT_SUBTYPE]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAD_DOCUMENT_SUBTYPE](
	[ITEM_ID] [varchar](128) NOT NULL,
	[NAME] [varchar](128) NULL,
	[SUB_TYPE] [varchar](20) NULL,
	[SITE] [varchar](10) NOT NULL,
	[PUID] [varchar](20) NULL,
	[OBJ_TAG] [numeric](20, 0) NULL,
	[STATUS] [char](1) NULL,
	[COMMENTS] [nvarchar](50) NULL,
	[DATE_IMPORTED] [datetime2](0) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAD_DOCITEM_REFERENCES]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAD_DOCITEM_REFERENCES](
	[ITEM_ID] [varchar](128) NULL,
	[PART_REVISION] [varchar](32) NULL,
	[PART_TYPE] [varchar](32) NULL,
	[DOCUMENT_ITEM_ID] [varchar](128) NULL,
	[DOCUMENT_ITEM_REV] [varchar](32) NULL,
	[DOCUMENT_NAME] [nvarchar](256) NULL,
	[SITE] [varchar](10) NULL,
	[PUID] [varchar](20) NULL,
	[STATUS] [char](1) NULL,
	[COMMENTS] [nvarchar](50) NULL,
	[DATE_IMPORTED] [datetime2](0) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAD_DATASETS_TRANS]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAD_DATASETS_TRANS](
	[PART_NUMBER] [varchar](128) NULL,
	[PART_REVISION] [varchar](32) NULL,
	[PART_TYPE] [varchar](32) NULL,
	[DATASET_NAME] [varchar](128) NULL,
	[DATASET_TYPE] [varchar](32) NULL,
	[DATASET_DESCRIPTION] [varchar](256) NULL,
	[DATASET_CREATED_DATE] [datetime2](0) NULL,
	[DATASET_REL_STATUS] [varchar](32) NULL,
	[DATASET_REL_DATE] [datetime2](0) NULL,
	[STATUS] [char](1) NULL,
	[COMMENTS] [varchar](50) NULL,
	[IS_DOCNUMBER] [varchar](1) NULL,
	[IS_PRT_UNDER_DRW] [varchar](1) NULL,
	[SITE] [varchar](10) NULL,
	[PUID] [varchar](20) NULL,
	[OBJ_TAG] [numeric](20, 0) NULL,
	[DATE_IMPORTED] [datetime2](0) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAD_DATASETS_FILESPATH]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAD_DATASETS_FILESPATH](
	[PART_NUMBER] [varchar](128) NULL,
	[PART_REVISION] [varchar](32) NULL,
	[PART_TYPE] [varchar](32) NULL,
	[DATASET_NAME] [varchar](128) NULL,
	[DATASET_TYPE] [varchar](32) NULL,
	[FILE_PATH] [varchar](max) NULL,
	[STATUS] [char](1) NULL,
	[COMMENTS] [varchar](50) NULL,
	[SITE] [varchar](10) NULL,
	[DATE_IMPORTED] [datetime2](0) NULL,
	[PARTREV_PUID] [varchar](20) NULL,
	[DATASET_PUID] [varchar](20) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAD_DATASETS]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAD_DATASETS](
	[PART_NUMBER] [varchar](128) NULL,
	[PART_REVISION] [varchar](32) NULL,
	[PART_TYPE] [varchar](32) NULL,
	[DATASET_NAME] [varchar](128) NULL,
	[DATASET_TYPE] [varchar](32) NULL,
	[DATASET_DESCRIPTION] [varchar](256) NULL,
	[DATASET_CREATED_DATE] [datetime2](0) NULL,
	[DATASET_REL_STATUS] [varchar](32) NULL,
	[DATASET_REL_DATE] [datetime2](0) NULL,
	[STATUS] [char](1) NULL,
	[COMMENTS] [varchar](50) NULL,
	[IS_DOCNUMBER] [varchar](1) NULL,
	[IS_PRT_UNDER_DRW] [varchar](1) NULL,
	[SITE] [varchar](10) NULL,
	[PUID] [varchar](20) NULL,
	[OBJ_TAG] [numeric](20, 0) NULL,
	[DATE_IMPORTED] [datetime2](0) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAD_ALT_ALIAS_ID]    Script Date: 06/24/2019 17:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAD_ALT_ALIAS_ID](
	[ITEM_ID] [varchar](128) NULL,
	[ALTERNATE_ID] [varchar](128) NULL,
	[ALIAS_ID] [varchar](128) NULL,
	[LEGACY_PART_NUMBER] [varchar](128) NULL,
	[LEGACY_DRAWING_NUMBER] [varchar](128) NULL,
	[SITE] [varchar](10) NULL,
	[PUID] [varchar](20) NULL,
	[OBJ_TAG] [numeric](20, 0) NULL,
	[STATUS] [char](1) NULL,
	[COMMENTS] [nvarchar](50) NULL,
	[DATE_IMPORTED] [datetime2](0) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[TRUNCATE_DB]    Script Date: 06/24/2019 17:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lokesh Podigiri
-- Create date: 04-Jan-2017
-- Description:	Truncate All Tables in DMProcessDB
-- =============================================
CREATE PROCEDURE [dbo].[TRUNCATE_DB] 
	
AS
BEGIN
	
	TRUNCATE TABLE dbo.LOAD_ALT_ALIAS_ID;
	TRUNCATE TABLE dbo.LOAD_DATASETS;
	TRUNCATE TABLE dbo.LOAD_DATASETS_FILESPATH;
	TRUNCATE TABLE dbo.LOAD_DATASETS_TRANS;
	TRUNCATE TABLE dbo.LOAD_DOCITEM_REFERENCES;
	TRUNCATE TABLE dbo.LOAD_DOCUMENT_SUBTYPE;
	TRUNCATE TABLE dbo.LOAD_DOCUMENTNUMBER;
	TRUNCATE TABLE dbo.LOAD_ETO;
	TRUNCATE TABLE dbo.LOAD_ETO_REV;
	--TRUNCATE TABLE dbo.LOAD_LED_ALT_ALIAS_ID;
	TRUNCATE TABLE dbo.LOAD_LED_CERTIFICATE;
	TRUNCATE TABLE dbo.LOAD_LED_IOM;
	TRUNCATE TABLE dbo.LOAD_LED_IR;
	TRUNCATE TABLE dbo.LOAD_LED_SUPPORTPARTS;
	TRUNCATE TABLE dbo.LOAD_LED_SUPPORTPRODUCT;
	--TRUNCATE TABLE dbo.LOAD_MATERIALCODE;
	TRUNCATE TABLE dbo.LOAD_PARTDRAWING;
	TRUNCATE TABLE dbo.LOAD_PARTREVISION;
	TRUNCATE TABLE dbo.LOAD_PCN;
	TRUNCATE TABLE dbo.LOAD_PCN_REL;
END
GO
/****** Object:  StoredProcedure [dbo].[REMOVE_LINE_FEEDS]    Script Date: 06/24/2019 17:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lokesh Podigiri
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[REMOVE_LINE_FEEDS] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
		UPDATE DMProcessDB_Delta.dbo.LOAD_PCN SET PCN_NUMBER = replace(PCN_NUMBER, char(10), '');
		UPDATE DMProcessDB_Delta.dbo.LOAD_PCN_REL SET PCN_NUMBER = replace(PCN_NUMBER, char(10), '');
		UPDATE DMProcessDB_Delta.dbo.LOAD_ALT_ALIAS_ID SET ITEM_ID = replace(ITEM_ID, char(10), '');
		UPDATE DMProcessDB_Delta.dbo.LOAD_DATASETS SET PART_NUMBER = replace(PART_NUMBER, char(10), '');
		UPDATE DMProcessDB_Delta.dbo.LOAD_DATASETS_FILESPATH SET PART_NUMBER = replace(PART_NUMBER, char(10), '');
		UPDATE DMProcessDB_Delta.dbo.LOAD_DOCUMENT_SUBTYPE SET ITEM_ID = replace(ITEM_ID, char(10), '');
		UPDATE DMProcessDB_Delta.dbo.LOAD_PARTDRAWING SET DRAWING_ID = replace(DRAWING_ID, char(10), '');
		UPDATE DMProcessDB_Delta.dbo.LOAD_ETO_REV SET ETO_NUMBER = replace(ETO_NUMBER, char(10), '');
		UPDATE DMProcessDB_Delta.dbo.LOAD_DOCITEM_REFERENCES SET ITEM_ID = replace(ITEM_ID, char(10), '');
		UPDATE DMProcessDB_Delta.dbo.LOAD_PARTREVISION SET PART_NUMBER = replace(PART_NUMBER, char(10), '');
		UPDATE DMProcessDB_Delta.dbo.LOAD_LED_IR SET LED_ITEM_ID = replace(LED_ITEM_ID, char(10), '');
		--UPDATE DMProcessDB_Delta.dbo.LOAD_LED_ALT_ALIAS_ID SET LED_ITEM_ID = replace(LED_ITEM_ID, char(10), '');
		UPDATE DMProcessDB_Delta.dbo.LOAD_LED_CERTIFICATE SET LED_ITEM_ID = replace(LED_ITEM_ID, char(10), '');
		UPDATE DMProcessDB_Delta.dbo.LOAD_LED_IOM SET LED_ITEM_ID = replace(LED_ITEM_ID, char(10), '');
		UPDATE DMProcessDB_Delta.dbo.LOAD_LED_SUPPORTPARTS SET LED_ITEM_ID = replace(LED_ITEM_ID, char(10), '');
		UPDATE DMProcessDB_Delta.dbo.LOAD_LED_SUPPORTPRODUCT SET LED_ITEM_ID = replace(LED_ITEM_ID, char(10), '');
		--UPDATE DMProcessDB_Delta.dbo.LOAD_MATERIALCODE SET PART_NUMBER = replace(PART_NUMBER, char(10), '');
		UPDATE DMProcessDB_Delta.dbo.LOAD_DOCUMENTNUMBER SET PART_NUMBER = replace(LTRIM(RTRIM(PART_NUMBER)), char(10), '');
		UPDATE DMProcessDB_Delta.dbo.LOAD_DATASETS_TRANS SET PART_NUMBER = replace(PART_NUMBER, char(10), '');
		UPDATE DMProcessDB_Delta.dbo.LOAD_DOCUMENTNUMBER SET DRAWING_NUMBER = replace(DRAWING_NUMBER, char(10), '');
	
END
GO
/****** Object:  StoredProcedure [dbo].[NORMALIZE_DOCUMENT_DATA]    Script Date: 06/24/2019 17:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[NORMALIZE_DOCUMENT_DATA] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	truncate table [dbo].LOAD_DOCUMENTNUMBER
	/*Alternate_ID Inserting ALTERNATE_ID records into table DocumentNumber...*/
	insert into [dbo].LOAD_DOCUMENTNUMBER select t1.part_number, t1.part_revision, t1.part_type, t2.alternate_id, t1.part_revision, 'ALTERNATE_ID', t1.site, GETDATE() 
	from [dbo].LOAD_PARTREVISION t1, [dbo].LOAD_ALT_ALIAS_ID t2 
	where t1.PART_NUMBER = t2.item_id and t2.ALTERNATE_ID <> '' and t1.PART_TYPE not in ('Drawing Item Revision','DocumentRevision');
	
	 /*Alias_ID Inserting ALIAS_ID records into table DocumentNumber...*/
	insert into [dbo].LOAD_DOCUMENTNUMBER select t1.part_number, t1.part_revision, t1.part_type, t2.alias_id, t1.part_revision, 'ALIAS_ID', t1.site, GETDATE() 
	from [dbo].LOAD_PARTREVISION t1, [dbo].LOAD_ALT_ALIAS_ID t2 
	where t1.PART_NUMBER = t2.item_id and t2.ALIAS_ID <> '' and t1.PART_TYPE not in ('Drawing Item Revision','DocumentRevision');
	
	
	 /*MATCODE_MATERIALS Inserting MATCODE_MATERIALS records into table DocumentNumber...
	insert into [dbo].LOAD_DOCUMENTNUMBER SELECT t1.PART_NUMBER,t1.PART_REVISION,'WGP4_MatSpecRevision',t1.MAT_LOCAL_CODE,t1.PART_REVISION,'MATCODE_MATERIALS',t1.SITE, GETDATE() 
	from [dbo].LOAD_MATERIALCODE t1 
	where t1.PART_NUMBER<>'';
	
	/*Drawing_ID{"Inserting DRAWING_ID records into table DocumentNumber...*/
	insert into [dbo].LOAD_DOCUMENTNUMBER (PART_NUMBER,PART_REVISION,PART_TYPE,DRAWING_NUMBER,DRAWING_REVISION,DRAWING_TYPE,SITE)  SELECT PD.ITEM_ID,PD.ITEM_REV,PR.PART_TYPE,PD.DRAWING_ID,PD.DRAWING_REV,'DRAWING_ITEM_VIEW',PD.SITE 
	FROM [dbo].LOAD_PARTDRAWING PD 
	LEFT JOIN [dbo].LOAD_PARTREVISION PR ON PD.ITEM_ID = PR.PART_NUMBER AND PD.SITE = PR.SITE 
	WHERE PD.ITEM_ID <> '';

	/*DRAWING_ITEM_ID {"Inserting DRAWING_ITEM_ID records into table DocumentNumber...*/
	insert into [dbo].LOAD_DOCUMENTNUMBER (PART_NUMBER,PART_REVISION,PART_TYPE,DRAWING_NUMBER,DRAWING_REVISION,DRAWING_TYPE,SITE)	SELECT PD.DRAWING_ID,PD.DRAWING_REV,'Drawing Item Revision',PD.DRAWING_ID,PD.DRAWING_REV,'DRAWING_ITEM_ID',PD.SITE 	
	FROM [dbo].LOAD_PARTDRAWING PD WHERE PD.ITEM_ID = '';
	
	/*DRAWING_ITEM_ID {"Inserting DRAWING_ITEM_ID records into table DocumentNumber...*/
	insert into [dbo].LOAD_DOCUMENTNUMBER (PART_NUMBER,PART_REVISION,PART_TYPE,DRAWING_NUMBER,DRAWING_REVISION,DRAWING_TYPE,SITE)	SELECT Distinct PR.[PART_NUMBER],PR.[PART_REVISION],PR.[PART_TYPE],PR.[PART_NUMBER],PR.[PART_REVISION],'DRAWING_ITEM_ID',PR.SITE 
	FROM [dbo].[LOAD_PARTREVISION] PR 
	WHERE NOT EXISTS (select * from LOAD_PARTDRAWING PD where PD.DRAWING_ID=PR.[PART_NUMBER] and PD.DRAWING_REV=PR.PART_REVISION)
	AND NOT EXISTS (select * from LOAD_ALT_ALIAS_ID ALT where ALT.ALTERNATE_ID=PR.[PART_NUMBER]) 
	AND NOT EXISTS (select * from LOAD_ALT_ALIAS_ID ALIAS where ALIAS.ALIAS_ID=PR.[PART_NUMBER]) AND PR.[PART_TYPE]='Drawing Item Revision';
	       		 
	/*DOC_ITEM_ID{"Inserting DOC_ITEM_ID records into table DocumentNumber...*/
	insert into [dbo].LOAD_DOCUMENTNUMBER (PART_NUMBER,PART_REVISION,PART_TYPE,DRAWING_NUMBER,DRAWING_REVISION,DRAWING_TYPE,SITE)	SELECT [PART_NUMBER],[PART_REVISION],[PART_TYPE],[PART_NUMBER],[PART_REVISION],'DOC_ITEM_ID',SITE 
	FROM [dbo].LOAD_PARTREVISION 
	WHERE [PART_TYPE]='DocumentRevision' AND [PART_NUMBER] NOT Like 'SysDoC%';*/
	
	
	
	--Updating Status for Multiple Drawing Items into table LOAD_PARTDRAWING...
	UPDATE dbo.LOAD_PARTDRAWING SET STATUS='1' WHERE ITEM_ID IN (SELECT DISTINCT ITEM_ID FROM LOAD_PARTDRAWING WHERE ITEM_ID IN ( SELECT ITEM_ID FROM LOAD_PARTDRAWING GROUP BY ITEM_ID HAVING COUNT(*) >1) GROUP BY  ITEM_ID,DRAWING_ID);
	--Inserting DRAWING_ID records into table DocumentNumber...
	insert into dbo.LOAD_DOCUMENTNUMBER (PART_NUMBER,PART_REVISION,PART_TYPE,DRAWING_NUMBER,DRAWING_REVISION,DRAWING_TYPE,SITE)  SELECT PD.ITEM_ID,PD.ITEM_REV,PR.PART_TYPE,PD.DRAWING_ID,PD.DRAWING_REV,'DRAWING_ITEM_VIEW',PD.SITE FROM dbo.LOAD_PARTDRAWING PD LEFT JOIN dbo.LOAD_PARTREVISION PR ON PD.ITEM_ID = PR.PART_NUMBER AND PD.SITE = PR.SITE WHERE PD.ITEM_ID <> '' AND PD.STATUS=0;
	--Inserting DRAWING_ITEM_ID records into table DocumentNumber...
	insert into dbo.LOAD_DOCUMENTNUMBER (PART_NUMBER,PART_REVISION,PART_TYPE,DRAWING_NUMBER,DRAWING_REVISION,DRAWING_TYPE,SITE)	SELECT Distinct PR.[PART_NUMBER],PR.[PART_REVISION],PR.[PART_TYPE],PR.[PART_NUMBER],PR.[PART_REVISION],'DRAWING_ITEM_ID',PR.SITE FROM [dbo].[LOAD_PARTREVISION] PR WHERE PR.[PART_NUMBER] NOT IN (select DISTINCT PD.DRAWING_ID from LOAD_PARTDRAWING PD where PD.DRAWING_ID is NOT NULL UNION select DISTINCT ALT.ALTERNATE_ID from LOAD_ALT_ALIAS_ID ALT WHERE ALT.ALTERNATE_ID is NOT NULL UNION select ALIAS.ALIAS_ID from LOAD_ALT_ALIAS_ID ALIAS where ALIAS.ALIAS_ID  is not NULL) AND  PR.[PART_TYPE]='Drawing Item Revision';
	--Inserting DOC_ITEM_ID records into table DocumentNumber...
	insert into dbo.LOAD_DOCUMENTNUMBER (PART_NUMBER,PART_REVISION,PART_TYPE,DRAWING_NUMBER,DRAWING_REVISION,DRAWING_TYPE,SITE)	SELECT [PART_NUMBER],[PART_REVISION],[PART_TYPE],[PART_NUMBER],[PART_REVISION],'DOC_ITEM_ID',SITE FROM dbo.LOAD_PARTREVISION WHERE [PART_TYPE]='DocumentRevision' AND [PART_NUMBER] NOT Like 'SysDoC%';
	        			  
END
GO
/****** Object:  StoredProcedure [dbo].[TRASNFROMATION_DATASET]    Script Date: 06/24/2019 17:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TRASNFROMATION_DATASET]  
		
AS
BEGIN

      UPDATE dbo.LOAD_DATASETS SET IS_DOCNUMBER = '0' FROM dbo.LOAD_DATASETS;
      
      UPDATE dbo.LOAD_DATASETS SET IS_PRT_UNDER_DRW = '0' FROM dbo.LOAD_DATASETS;
	 
	-- Removed the condition PD.PUID = DS.PUID AND	 as the PUID doesn't match
	  UPDATE dbo.LOAD_DATASETS 
	  set IS_DOCNUMBER = 'Y' 
	  where puid in (select distinct DS.PUID from dbo.LOAD_DATASETS DS, dbo.LOAD_PARTDRAWING pd where DS.PART_NUMBER = PD.DRAWING_ID and DS.PART_REVISION = PD.DRAWING_REV AND PD.ITEM_ID <>'' AND PD.ITEM_REV <>'' AND  PD.SITE = DS.SITE);
	  
	  update dbo.LOAD_DATASETS 
	  set  IS_PRT_UNDER_DRW = 'Y' 
	  where PART_NUMBER  in (select distinct ITEM_ID from dbo.LOAD_PARTDRAWING PD, dbo.LOAD_DATASETS DS where DS.PART_NUMBER = PD.ITEM_ID and DS.PART_REVISION = PD.ITEM_REV and PD.DRAWING_ID <>'' and PD.DRAWING_REV <>'' and PD.SITE = DS.SITE );
	  
	  UPDATE dbo.LOAD_DATASETS set  IS_DOCNUMBER = '0' , IS_PRT_UNDER_DRW = '0' WHERE PART_NUMBER in 
	  ( SELECT ITEM_ID FROM DMProcessDB.dbo.LOAD_ALT_ALIAS_ID WHERE  LEN(ALIAS_ID) >0 OR  LEN(ALTERNATE_ID) >0);

	  
	  insert into dbo.LOAD_DATASETS_TRANS 
	  SELECT PART_NUMBER, PART_REVISION, PART_TYPE, DATASET_NAME, DATASET_TYPE, DATASET_DESCRIPTION, DATASET_CREATED_DATE,DATASET_REL_STATUS,DATASET_REL_DATE,STATUS, 'Part Centric',IS_DOCNUMBER,IS_PRT_UNDER_DRW, SITE,PUID,OBJ_TAG,DATE_IMPORTED 
	  FROM dbo.LOAD_DATASETS 
	  WHERE (IS_DOCNUMBER = '0' AND IS_PRT_UNDER_DRW = '0') AND STATUS = '0' AND DATASET_TYPE IN ( 'DetailedPDF', 'Non DetailedPDF', 'MaterialSpecSheet', 'PDF','Tech Rebuild CenterPDF','Zip','MISC' ) AND PART_TYPE <> 'DocumentRevision' ;
	  
	  INSERT dbo.LOAD_DATASETS_TRANS 
	  SELECT DISTINCT DN.PART_NUMBER,DN.PART_REVISION,DN.PART_TYPE,DS.DATASET_NAME,DS.DATASET_TYPE, DS.DATASET_DESCRIPTION,DS.DATASET_CREATED_DATE,DS.DATASET_REL_STATUS,DS.DATASET_REL_DATE, DS.STATUS,'Drawing Centric',DS.IS_DOCNUMBER,DS.IS_PRT_UNDER_DRW,DS.SITE, DS.PUID,DS.OBJ_TAG,DS.DATE_IMPORTED 
	  FROM dbo.LOAD_DATASETS DS , dbo.LOAD_DOCUMENTNUMBER DN 
	  WHERE DS.PART_NUMBER = DN.DRAWING_NUMBER AND DS.PART_REVISION = DN.DRAWING_REVISION AND DS.SITE = DN.SITE AND DN.PART_TYPE <> 'Drawing Item Revision' AND (DS.IS_DOCNUMBER = 'Y' OR DS.IS_PRT_UNDER_DRW = 'Y') AND DS.STATUS = '0' AND DS.DATASET_TYPE IN ( 'DetailedPDF', 'Non DetailedPDF', 'MaterialSpecSheet', 'PDF','Tech Rebuild CenterPDF', 'Zip','MISC') AND DS.PART_TYPE <> 'DocumentRevision';
	  
	  INSERT dbo.LOAD_DATASETS_TRANS 
	  SELECT DISTINCT DN.PART_NUMBER, DN.PART_REVISION, DN.PART_TYPE, DS.DATASET_NAME, DS.DATASET_TYPE, DS.DATASET_DESCRIPTION,DS.DATASET_CREATED_DATE,DS.DATASET_REL_STATUS, DS.DATASET_REL_DATE, DS.STATUS,DS.COMMENTS,DS.IS_DOCNUMBER, DS.IS_PRT_UNDER_DRW,DS.SITE,DS.PUID, DS.OBJ_TAG,DS.DATE_IMPORTED 
	  FROM dbo.LOAD_DATASETS DS, dbo.LOAD_DOCUMENTNUMBER DN 
	  WHERE DS.PART_NUMBER = DN.DRAWING_NUMBER AND DS.PART_REVISION = DN.DRAWING_REVISION AND DS.SITE = DN.SITE AND DS.STATUS = '0' AND  DS.PART_TYPE = 'DocumentRevision';


      
            

   END
GO
/****** Object:  StoredProcedure [dbo].[TRANSFORMATION]    Script Date: 06/24/2019 17:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		LOKESH PODIGIRI
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[TRANSFORMATION] 
		
AS
BEGIN

UPDATE dbo.LOAD_PARTREVISION SET COMMENTS='NOT PROCESSED', STATUS='9';

UPDATE dbo.LOAD_DATASETS SET COMMENTS='NOT PROCESSED',STATUS='9';

UPDATE dbo.LOAD_PARTREVISION SET STATUS = '2', COMMENTS='SYS DOC' WHERE PART_NUMBER LIKE 'SysDoc%';

UPDATE dbo.LOAD_DATASETS  SET STATUS = '2', COMMENTS='SYS DOC' WHERE PART_NUMBER LIKE 'SysDoc%';

UPDATE dbo.LOAD_ETO SET STATUS = '0', COMMENTS='ALL STATUS IS ALLOWED';

UPDATE dbo.LOAD_PCN SET STATUS = '0', COMMENTS='ALL STATUS IS ALLOWED';

UPDATE dbo.LOAD_PARTREVISION SET STATUS = '2', COMMENTS='PART TYPE' 
WHERE PART_TYPE 
NOT IN ('WGP4_ConeCrusherRevision','WGP4_ConveyorsRevision','WGP4_ElastomerRevision','WGP4_FeederRevision','WGP4_HPGRRevision','WGP4_HoseRevision',
'WGP4_MechSealRevision','WGP4_MechatronicRevision','WGP4_Mill_LinerRevision','WGP4_PartResorceRevision','WGP4_PlantRevision','WGP4_SpoolRevision',
'WGP4_WasherRevision','WGP7CycClustRevision','Warman Cyclone Revision','Warman Equipment Revision','Warman Part Tool Revision','Warman Pump Revision',
'Warman Tool Aid Revision','Weir Minerals Revision','Weir Screen Revision','Weir Valve Revision','ItemRevision','Drawing Item Revision','DocumentRevision',
'WGP4_MatSpecRevision','WGP4_Ball_FeederRevision','WGP4_BargeRevision','WGP4_BladeMillRevision','WGP4_CentrifugeRevision','WGP4_LiftingERevision','WGP4_TransportCRevision','WGP4_SkidRevision','WGP4_WeirMagnetRevision','WGP4_WeirProductRevision');

UPDATE dbo.LOAD_DATASETS  SET STATUS ='2', COMMENTS='PART TYPE' WHERE PART_TYPE
 NOT IN ('WGP4_ConeCrusherRevision','WGP4_ConveyorsRevision','WGP4_ElastomerRevision','WGP4_FeederRevision','WGP4_HPGRRevision','WGP4_HoseRevision',
 'WGP4_MechSealRevision','WGP4_MechatronicRevision','WGP4_Mill_LinerRevision','WGP4_PartResorceRevision','WGP4_PlantRevision','WGP4_SpoolRevision',
 'WGP4_WasherRevision','WGP7CycClustRevision','Warman Cyclone Revision','Warman Equipment Revision','Warman Part Tool Revision','Warman Pump Revision',
 'Warman Tool Aid Revision','Weir Minerals Revision','Weir Screen Revision','Weir Valve Revision','ItemRevision','Drawing Item Revision','DocumentRevision',
 'WGP4_MatSpecRevision','WGP4_Ball_FeederRevision','WGP4_BargeRevision','WGP4_BladeMillRevision','WGP4_CentrifugeRevision','WGP4_LiftingERevision','WGP4_TransportCRevision','WGP4_SkidRevision','WGP4_WeirMagnetRevision','WGP4_WeirProductRevision');

UPDATE dbo.LOAD_PARTREVISION 
SET STATUS = 
CASE WHEN LOAD_PARTREVISION.STATUS = '1' THEN LOAD_PARTREVISION.STATUS 
WHEN LOAD_PARTREVISION.RELEASE_STATUS NOT IN ( 'Production', 'Superseded','Obsolete' ) THEN '1' 
WHEN (LOAD_PARTREVISION.RELEASE_STATUS IS NULL) THEN '1' 
WHEN (LOAD_PARTREVISION.RELEASE_STATUS='') THEN '1' 
WHEN LOAD_PARTREVISION.RELEASE_STATUS IN ( 'Production', 'Superseded','Obsolete' ) THEN '0' 
ELSE '9' END, 

COMMENTS = 
CASE WHEN LOAD_PARTREVISION.STATUS = '1' THEN LOAD_PARTREVISION.COMMENTS 
WHEN LOAD_PARTREVISION.RELEASE_STATUS NOT IN ( 'Production', 'Superseded' ,'Obsolete') THEN 'STATUS NOT IN SUPERSEED / PROD / OBS'  
WHEN (LOAD_PARTREVISION.RELEASE_STATUS IS NULL) THEN 'STATUS IS NULL'  
WHEN (LOAD_PARTREVISION.RELEASE_STATUS ='') THEN 'STATUS IS NULL'  
WHEN LOAD_PARTREVISION.RELEASE_STATUS IN ( 'Production', 'Superseded','Obsolete' ) THEN 'STATUS IN SUPERSEED / PROD / OBS'  
ELSE 'NOT PROCESSED' END;

UPDATE dbo.LOAD_DATASETS 
SET  STATUS =  
CASE   WHEN LOAD_DATASETS.STATUS = '1' THEN LOAD_DATASETS.STATUS 
WHEN LOAD_DATASETS.DATASET_REL_STATUS NOT IN ( 'Production', 'Superseded','Obsolete') THEN '1' 
WHEN LOAD_DATASETS.DATASET_REL_STATUS IS NULL THEN '1' 
WHEN LOAD_DATASETS.DATASET_REL_STATUS ='' THEN '1' 
WHEN LOAD_DATASETS.DATASET_REL_STATUS IN ( 'Production', 'Superseded','Obsolete') THEN '0' ELSE '9' END, 
 
COMMENTS =  CASE   WHEN LOAD_DATASETS.STATUS = '1' THEN LOAD_DATASETS.COMMENTS  
WHEN LOAD_DATASETS.DATASET_REL_STATUS NOT IN ( 'Production', 'Superseded','Obsolete') THEN 'STATUS NOT IN SUPERSEED / PROD / OBS'  
WHEN LOAD_DATASETS.DATASET_REL_STATUS IS NULL THEN 'STATUS IS NULL'  
WHEN LOAD_DATASETS.DATASET_REL_STATUS ='' THEN 'STATUS IS NULL' 
WHEN LOAD_DATASETS.DATASET_REL_STATUS IN ( 'Production', 'Superseded','Obsolete') THEN 'STATUS IN SUPERSEED / PROD / OBS'  
 ELSE 'NOT PROCESSED' END; 
 
WITH CTE(PUID,PART_NUMBER,PART_REVISION,PART_TYPE,DATE_CREATED,RELEASE_STATUS,SITE,STATUS,COMMENTS,DuplicateCount) 
AS ( SELECT PUID,PART_NUMBER,PART_REVISION,PART_TYPE,DATE_CREATED,RELEASE_STATUS,SITE,STATUS,COMMENTS,ROW_NUMBER() 
 OVER(PARTITION BY PUID,PART_NUMBER,PART_REVISION,PART_TYPE,DATE_CREATED,RELEASE_STATUS,SITE ORDER BY PART_NUMBER )  as DuplicateCount 
 FROM dbo.LOAD_PARTREVISION ) UPDATE CTE SET STATUS='2',COMMENTS='DUPLICATE STATUS' WHERE DuplicateCount>1; 
 
WITH CTE(PUID,PART_NUMBER,PART_REVISION,PART_TYPE,DATASET_NAME,DATASET_TYPE,DATASET_CREATED_DATE,DATASET_REL_STATUS,SITE,STATUS,COMMENTS,DuplicateCount) 
AS ( SELECT PUID,PART_NUMBER,PART_REVISION,PART_TYPE,DATASET_NAME,DATASET_TYPE,DATASET_CREATED_DATE,DATASET_REL_STATUS,SITE,STATUS,COMMENTS,ROW_NUMBER() 
OVER(PARTITION BY PUID,PART_NUMBER,PART_REVISION,PART_TYPE,DATASET_NAME,DATASET_TYPE,DATASET_CREATED_DATE,DATASET_REL_STATUS,SITE ORDER BY PART_NUMBER )  as DuplicateCount 
FROM dbo.LOAD_DATASETS)UPDATE CTE SET STATUS='2',COMMENTS='DUPLICATE STATUS' WHERE DuplicateCount>1;

UPDATE dbo.LOAD_PARTREVISION SET STATUS = '2', COMMENTS='EMPTY PART_NUMBER' WHERE PART_NUMBER ='';
UPDATE dbo.LOAD_DATASETS  SET STATUS = '2', COMMENTS='EMPTY PART_NUMBER' WHERE PART_NUMBER ='';
UPDATE dbo.LOAD_ALT_ALIAS_ID SET STATUS='2' , COMMENTS='EMPTY PART NUMBER' WHERE  (ITEM_ID='' or LEN(ITEM_ID)<1);
UPDATE dbo.LOAD_DATASETS SET STATUS='2' , COMMENTS='EMPTY PART NUMBER' WHERE  (PART_NUMBER='' or LEN(PART_NUMBER)<1);
UPDATE dbo.LOAD_DATASETS_FILESPATH SET STATUS='2' , COMMENTS='EMPTY PART NUMBER' WHERE  (PART_NUMBER='' or LEN(PART_NUMBER)<1);
UPDATE dbo.LOAD_DATASETS_TRANS SET STATUS='2' , COMMENTS='EMPTY PART NUMBER' WHERE  (PART_NUMBER='' or LEN(PART_NUMBER)<1) ;
UPDATE dbo.LOAD_ETO SET STATUS='2' , COMMENTS='EMPTY ETO NUMBER' WHERE  (ETO_NUMBER='' or LEN(ETO_NUMBER)<1);
UPDATE dbo.LOAD_PARTDRAWING SET STATUS='2' , COMMENTS='EMPTY DRAWING ITEM ID' WHERE  (DRAWING_ID='' or LEN(DRAWING_ID)<1);
UPDATE dbo.LOAD_PARTREVISION SET STATUS='2' , COMMENTS='EMPTY PART NUMBER' WHERE  (PART_NUMBER='' or LEN(PART_NUMBER)<1) ;
UPDATE dbo.LOAD_PARTREVISION SET STATUS='2' , COMMENTS='PART NUMBER LENGTH > 18' WHERE LEN(PART_NUMBER)>18 ;
UPDATE dbo.LOAD_PCN SET STATUS='2' , COMMENTS='EMPTY PCN NUMBER' WHERE (PCN_NUMBER='' or LEN(PCN_NUMBER)<1) ;
UPDATE dbo.LOAD_LED_IR 
SET STATUS= 
CASE WHEN LOAD_LED_IR.[RELEASE_STATUS] in ( 'Production', 'Superseded', 'Obsolete' ) THEN '0'
WHEN LOAD_LED_IR.[RELEASE_STATUS] NOT in ( 'Production', 'Superseded', 'Obsolete' ) THEN '1' END; 


UPDATE dbo.LOAD_PARTREVISION SET STATUS ='2', COMMENTS='MULTIPLE STATUS' 
WHERE PUID IN (SELECT PUID FROM dbo.LOAD_PARTREVISION WHERE STATUS ='0' GROUP BY PUID,PART_NUMBER,PART_REVISION,PART_TYPE,DATE_CREATED,SITE HAVING COUNT(RELEASE_STATUS) = 2) AND RELEASE_STATUS='Production';
UPDATE dbo.LOAD_DATASETS SET STATUS ='2', COMMENTS='MULTIPLE STATUS' 
WHERE PUID IN (SELECT PUID FROM dbo.LOAD_DATASETS WHERE STATUS ='0' GROUP BY PUID,PART_NUMBER,PART_REVISION,PART_TYPE,DATASET_NAME,DATASET_TYPE,DATASET_CREATED_DATE,SITE  HAVING COUNT(DATASET_REL_STATUS) = 2 ) AND DATASET_REL_STATUS='Production';

delete from [dbo].[LOAD_ETO_REV] where RELATION_NAME is null and [ETO_NUMBER] in (SELECT distinct [ETO_NUMBER] FROM [dbo].[LOAD_ETO_REV] where RELATION_NAME is not null);

WITH LOAD_PARTREVISION_CTE AS(SELECT *,ROW_NUMBER() OVER (PARTITION BY [PART_NUMBER],[PART_REVISION],[PUID] ORDER BY [PART_NUMBER],[PART_REVISION],[PUID],DATE_IMPORTED) AS RowNumber
from [dbo].[LOAD_PARTREVISION] where STATUS in (0,1)) UPDATE LOAD_PARTREVISION_CTE set STATUS=3,COMMENTS='DUPLICATE ROWS' where RowNumber>1;


WITH LOAD_DOCUMENT_SUBTYPE_CTE AS (SELECT *,ROW_NUMBER() OVER (PARTITION BY [ITEM_ID],[PUID] ORDER BY [ITEM_ID],[PUID],DATE_IMPORTED)  AS RowNumber
	FROM  [dbo].LOAD_DOCUMENT_SUBTYPE where STATUS=0) UPDATE LOAD_DOCUMENT_SUBTYPE_CTE set STATUS=3,COMMENTS='DUPLICATE ROWS' WHERE RowNumber>1;
  
WITH LOAD_DOCITEM_REFERENCES_CTE AS (SELECT *,ROW_NUMBER() OVER (PARTITION BY ITEM_ID,PART_REVISION,DOCUMENT_ITEM_ID,PUID ORDER BY ITEM_ID,PART_REVISION,DOCUMENT_ITEM_ID,PUID,DATE_IMPORTED) AS RowNumber
	FROM [dbo].LOAD_DOCITEM_REFERENCES WHERE STATUS=0) UPDATE  LOAD_DOCITEM_REFERENCES_CTE set STATUS=3,COMMENTS='DUPLICATE ROWS' WHERE RowNumber>1;
  
  
WITH LOAD_DATASETS_TRANS_CTE AS (SELECT *,ROW_NUMBER() OVER (PARTITION BY PART_NUMBER,PART_REVISION,DATASET_NAME,DATASET_TYPE,PUID ORDER BY PART_NUMBER,PART_REVISION,DATASET_NAME,DATASET_TYPE,PUID,DATE_IMPORTED) AS RowNumber
	FROM [dbo].LOAD_DATASETS_TRANS  WHERE STATUS=0) UPDATE LOAD_DATASETS_TRANS_CTE set STATUS=3,COMMENTS='DUPLICATE ROWS' WHERE RowNumber>1;
	
	
	
WITH LOAD_ETO_REV_CTE AS (SELECT *,ROW_NUMBER() OVER (PARTITION BY [ETO_NUMBER],[ETO_REVISION],[RELATION_NAME],[RELATED_ITEM],[PUID] ORDER BY [ETO_NUMBER],[ETO_REVISION],[RELATION_NAME],[RELATED_ITEM],[PUID],DATE_IMPORTED) AS RowNumber
  FROM [dbo].LOAD_ETO_REV) UPDATE LOAD_ETO_REV_CTE set STATUS=3,COMMENTS='DUPLICATE ROWS' WHERE RowNumber>1;
  
  WITH LOAD_PCN_CTE AS (SELECT *,ROW_NUMBER() OVER (PARTITION BY PCN_NUMBER,PCN_REVISION,PUID ORDER BY PCN_NUMBER,PCN_REVISION,PUID,DATE_IMPORTED) AS RowNumber
  FROM [dbo].LOAD_PCN) update LOAD_PCN_CTE set STATUS=3,COMMENTS='DUPLICATE ROWS' WHERE RowNumber>1;
   
  
  WITH LOAD_LED_IR_CTE AS
  (SELECT *,ROW_NUMBER() OVER (PARTITION BY LED_ITEM_ID,LED_REVISION,PUID ORDER BY LED_ITEM_ID,LED_REVISION,PUID) AS RowNumber
  FROM [dbo].LOAD_LED_IR) UPDATE LOAD_LED_IR_CTE set STATUS=3,COMMENTS='DUPLICATE ROWS' WHERE  RowNumber>1;
  
END
GO
/****** Object:  StoredProcedure [dbo].[INACTIVE_BAD_DATA]    Script Date: 06/24/2019 17:31:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lokesh Podigiri
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[INACTIVE_BAD_DATA] 
		@SITE_ID NVARCHAR (MAX)=NULL
AS
BEGIN
	UPDATE dbo.LOAD_ALT_ALIAS_ID SET STATUS='1' , COMMENTS='EMPTY PART NUMBER' WHERE  (ITEM_ID='' or LEN(ITEM_ID)<1) AND SITE=@SITE_ID;
	UPDATE dbo.LOAD_DATASETS SET STATUS='1' , COMMENTS='EMPTY PART NUMBER' WHERE  (PART_NUMBER='' or LEN(PART_NUMBER)<1) AND SITE=@SITE_ID;
	UPDATE dbo.LOAD_DATASETS_FILESPATH SET STATUS='1' , COMMENTS='EMPTY PART NUMBER' WHERE  (PART_NUMBER='' or LEN(PART_NUMBER)<1)  AND SITE=@SITE_ID;
	UPDATE dbo.LOAD_DATASETS_TRANS SET STATUS='1' , COMMENTS='EMPTY PART NUMBER' WHERE  (PART_NUMBER='' or LEN(PART_NUMBER)<1)  AND SITE=@SITE_ID;
	UPDATE dbo.LOAD_ETO SET STATUS='1' , COMMENTS='EMPTY ETO NUMBER' WHERE  (ETO_NUMBER='' or LEN(ETO_NUMBER)<1) AND SITE=@SITE_ID;
	UPDATE dbo.LOAD_MATERIALCODE SET STATUS='1' , COMMENTS='EMPTY PART NUMBER' WHERE  (PART_NUMBER='' or LEN(PART_NUMBER)<1) AND SITE=@SITE_ID;
	UPDATE dbo.LOAD_PARTDRAWING SET STATUS='1' , COMMENTS='EMPTY DRAWING ITEM ID' WHERE  (DRAWING_ID='' or LEN(DRAWING_ID)<1) AND SITE=@SITE_ID;
	UPDATE dbo.LOAD_PARTREVISION SET STATUS='1' , COMMENTS='EMPTY PART NUMBER' WHERE  (PART_NUMBER='' or LEN(PART_NUMBER)<1) AND SITE=@SITE_ID;
	UPDATE dbo.LOAD_PARTREVISION SET STATUS='2' , COMMENTS='PART NUMBER LENGTH > 18' WHERE LEN(PART_NUMBER)>18 AND SITE=@SITE_ID;
	UPDATE dbo.LOAD_PCN SET STATUS='1' , COMMENTS='EMPTY PCN NUMBER' WHERE (PCN_NUMBER='' or LEN(PCN_NUMBER)<1) AND SITE=@SITE_ID;;

END
GO
/****** Object:  Default [DF_LOAD_PCN_DATE_IMPORTED]    Script Date: 06/24/2019 17:31:51 ******/
ALTER TABLE [dbo].[LOAD_PCN] ADD  CONSTRAINT [DF_LOAD_PCN_DATE_IMPORTED]  DEFAULT (getdate()) FOR [DATE_IMPORTED]
GO
/****** Object:  Default [DF_LOAD_PARTREVISION_DATE_IMPORTED]    Script Date: 06/24/2019 17:31:51 ******/
ALTER TABLE [dbo].[LOAD_PARTREVISION] ADD  CONSTRAINT [DF_LOAD_PARTREVISION_DATE_IMPORTED]  DEFAULT (getdate()) FOR [DATE_IMPORTED]
GO
/****** Object:  Default [DF_LOAD_PARTDRAWING_DATE_IMPORTED]    Script Date: 06/24/2019 17:31:51 ******/
ALTER TABLE [dbo].[LOAD_PARTDRAWING] ADD  CONSTRAINT [DF_LOAD_PARTDRAWING_DATE_IMPORTED]  DEFAULT (getdate()) FOR [DATE_IMPORTED]
GO
/****** Object:  Default [DF_LOAD_MATERIALCODE_DATE_IMPORTED]    Script Date: 06/24/2019 17:31:51 ******/
ALTER TABLE [dbo].[LOAD_MATERIALCODE] ADD  CONSTRAINT [DF_LOAD_MATERIALCODE_DATE_IMPORTED]  DEFAULT (sysdatetime()) FOR [DATE_IMPORTED]
GO
/****** Object:  Default [DF_LOAD_LED_SUPPORTPRODUCT_DATE_IMPORTED]    Script Date: 06/24/2019 17:31:51 ******/
ALTER TABLE [dbo].[LOAD_LED_SUPPORTPRODUCT] ADD  CONSTRAINT [DF_LOAD_LED_SUPPORTPRODUCT_DATE_IMPORTED]  DEFAULT (getdate()) FOR [DATE_IMPORTED]
GO
/****** Object:  Default [DF_LOAD_LED_SUPPORTPARTS_DATE_IMPORTED]    Script Date: 06/24/2019 17:31:51 ******/
ALTER TABLE [dbo].[LOAD_LED_SUPPORTPARTS] ADD  CONSTRAINT [DF_LOAD_LED_SUPPORTPARTS_DATE_IMPORTED]  DEFAULT (getdate()) FOR [DATE_IMPORTED]
GO
/****** Object:  Default [DF_LOAD_LED_DATE_IMPORTED]    Script Date: 06/24/2019 17:31:51 ******/
ALTER TABLE [dbo].[LOAD_LED_IR] ADD  CONSTRAINT [DF_LOAD_LED_DATE_IMPORTED]  DEFAULT (getdate()) FOR [DATE_IMPORTED]
GO
/****** Object:  Default [DF_LOAD_LED_IOM_DATE_IMPORTED]    Script Date: 06/24/2019 17:31:51 ******/
ALTER TABLE [dbo].[LOAD_LED_IOM] ADD  CONSTRAINT [DF_LOAD_LED_IOM_DATE_IMPORTED]  DEFAULT (getdate()) FOR [DATE_IMPORTED]
GO
/****** Object:  Default [DF_LOAD_LED_CERTIFICATE_DATE_IMPORTED]    Script Date: 06/24/2019 17:31:51 ******/
ALTER TABLE [dbo].[LOAD_LED_CERTIFICATE] ADD  CONSTRAINT [DF_LOAD_LED_CERTIFICATE_DATE_IMPORTED]  DEFAULT (getdate()) FOR [DATE_IMPORTED]
GO
/****** Object:  Default [DF_LOAD_LED_ALT_ALIAS_ID_DATE_IMPORTED]    Script Date: 06/24/2019 17:31:51 ******/
ALTER TABLE [dbo].[LOAD_LED_ALT_ALIAS_ID] ADD  CONSTRAINT [DF_LOAD_LED_ALT_ALIAS_ID_DATE_IMPORTED]  DEFAULT (getdate()) FOR [DATE_IMPORTED]
GO
/****** Object:  Default [DF_LOAD_ETO_DATE_IMPORTED]    Script Date: 06/24/2019 17:31:51 ******/
ALTER TABLE [dbo].[LOAD_ETO] ADD  CONSTRAINT [DF_LOAD_ETO_DATE_IMPORTED]  DEFAULT (getdate()) FOR [DATE_IMPORTED]
GO
/****** Object:  Default [DF_LOAD_DOCUMENTNUMBER_DATE_IMPORTED]    Script Date: 06/24/2019 17:31:51 ******/
ALTER TABLE [dbo].[LOAD_DOCUMENTNUMBER] ADD  CONSTRAINT [DF_LOAD_DOCUMENTNUMBER_DATE_IMPORTED]  DEFAULT (getdate()) FOR [DATE_IMPORTED]
GO
/****** Object:  Default [DF_LOAD_DOCUMENT_SUBTYPE_DATE_IMPORTED]    Script Date: 06/24/2019 17:31:51 ******/
ALTER TABLE [dbo].[LOAD_DOCUMENT_SUBTYPE] ADD  CONSTRAINT [DF_LOAD_DOCUMENT_SUBTYPE_DATE_IMPORTED]  DEFAULT (getdate()) FOR [DATE_IMPORTED]
GO
/****** Object:  Default [DF_LOAD_DOC_REFERENCES_DATE_IMPORTED]    Script Date: 06/24/2019 17:31:51 ******/
ALTER TABLE [dbo].[LOAD_DOCITEM_REFERENCES] ADD  CONSTRAINT [DF_LOAD_DOC_REFERENCES_DATE_IMPORTED]  DEFAULT (getdate()) FOR [DATE_IMPORTED]
GO
/****** Object:  Default [DF_LOAD_DATASETS_TRANS_DATE_IMPORTED]    Script Date: 06/24/2019 17:31:51 ******/
ALTER TABLE [dbo].[LOAD_DATASETS_TRANS] ADD  CONSTRAINT [DF_LOAD_DATASETS_TRANS_DATE_IMPORTED]  DEFAULT (getdate()) FOR [DATE_IMPORTED]
GO
/****** Object:  Default [DF_LOAD_DATASETS_FILESPATH_DATE_IMPORTED]    Script Date: 06/24/2019 17:31:51 ******/
ALTER TABLE [dbo].[LOAD_DATASETS_FILESPATH] ADD  CONSTRAINT [DF_LOAD_DATASETS_FILESPATH_DATE_IMPORTED]  DEFAULT (getdate()) FOR [DATE_IMPORTED]
GO
/****** Object:  Default [DF_LOAD_DATASETS_DATE_IMPORTED]    Script Date: 06/24/2019 17:31:51 ******/
ALTER TABLE [dbo].[LOAD_DATASETS] ADD  CONSTRAINT [DF_LOAD_DATASETS_DATE_IMPORTED]  DEFAULT (getdate()) FOR [DATE_IMPORTED]
GO
/****** Object:  Default [DF_LOAD_ALT_ALIAS_ID_DATE_IMPORTED]    Script Date: 06/24/2019 17:31:51 ******/
ALTER TABLE [dbo].[LOAD_ALT_ALIAS_ID] ADD  CONSTRAINT [DF_LOAD_ALT_ALIAS_ID_DATE_IMPORTED]  DEFAULT (getdate()) FOR [DATE_IMPORTED]
GO
