USE [DMProd]
GO
/****** Object:  StoredProcedure [dbo].[DELTA_IMPORT_ALL_DATA_DEV]    Script Date: 06/24/2019 17:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[DELTA_IMPORT_ALL_DATA_DEV] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN

 TRUNCATE TABLE [DMProd_DELTA_1].[dbo].options;  
  SET IDENTITY_INSERT [DMProd_DELTA_1].[dbo].options ON;
  INSERT INTO [DMProd_DELTA_1].[dbo].[options]
           (oid
           ,[name]
           ,[description]
           ,[status]
           ,[createduser]
           ,[createdtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[categoryid])
   SELECT	oid
           ,[name]
           ,[description]
           ,[status]
           ,[createduser]
           ,[createdtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[categoryid]
           FROM [DMProd_Dev].[dbo].[options];
  SET IDENTITY_INSERT [DMProd_DELTA_1].[dbo].options OFF;  

TRUNCATE TABLE [DMProd_DELTA_1].[dbo].[documentitems_subtype];           
INSERT INTO [DMProd_DELTA_1].[dbo].[documentitems_subtype]
           ([itemid]
           ,[name]
           ,[subtype]
           ,[status]
           ,[createduser]
           ,[createddtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[site]
           ,[puid])
    SELECT [itemid]
           ,[name]
           ,[subtype]
           ,[status]
           ,[createduser]
           ,[createddtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[site]
           ,[puid]
           FROM [DMProd_Dev].[dbo].[documentitems_subtype];

TRUNCATE TABLE [DMProd_DELTA_1].[dbo].[eto_hasdocument];
INSERT INTO [DMProd_DELTA_1].[dbo].[eto_hasdocument]
           ([etoeid]
           ,[hasdocument_itemid]
           ,[hasdocument_drawingid]
           ,[site]
           ,[status]
           ,[hasdocument_iid]
           ,[puid])
    SELECT [etoeid]
           ,[hasdocument_itemid]
           ,[hasdocument_drawingid]
           ,[site]
           ,[status]
           ,[hasdocument_iid]
           ,[puid]
            FROM [DMProd_Dev].[dbo].[eto_hasdocument];

TRUNCATE TABLE [DMProd_DELTA_1].[dbo].[eto_hasgadrawing];
INSERT INTO [DMProd_DELTA_1].[dbo].[eto_hasgadrawing]
           ([etoeid]
           ,[hasga_itemid]
           ,[hasga_drawingid]
           ,[site]
           ,[status]
           ,[hasga_iid]
           ,[puid])
     SELECT [etoeid]
           ,[hasga_itemid]
           ,[hasga_drawingid]
           ,[site]
           ,[status]
           ,[hasga_iid]
           ,[puid]
            FROM [DMProd_Dev].[dbo].[eto_hasgadrawing];
            
TRUNCATE TABLE [DMProd_DELTA_1].[dbo].[eto_hasrouting];
INSERT INTO [DMProd_DELTA_1].[dbo].[eto_hasrouting]
           ([etoeid]
           ,[hasrouting_itemid]
           ,[hasrouting_drawingid]
           ,[site]
           ,[status]
           ,[hasrouting_iid]
           ,[puid])
     SELECT [etoeid]
           ,[hasrouting_itemid]
           ,[hasrouting_drawingid]
           ,[site]
           ,[status]
           ,[hasrouting_iid]
           ,[puid]           
           FROM [DMProd_Dev].[dbo].[eto_hasrouting];
TRUNCATE TABLE  [DMProd_DELTA_1].[dbo].[eto_orderparts];
INSERT INTO [DMProd_DELTA_1].[dbo].[eto_orderparts]
           ([etoeid]
           ,[orderparts_itemid]
           ,[orderparts_drawingid]
           ,[site]
           ,[status]
           ,[orderparts_iid]
           ,[puid])
    SELECT  [etoeid]
           ,[orderparts_itemid]
           ,[orderparts_drawingid]
           ,[site]
           ,[status]
           ,[orderparts_iid]
           ,[puid]
           FROM [DMProd_Dev].[dbo].[eto_orderparts]
TRUNCATE TABLE  [DMProd_DELTA_1].[dbo].[eto_references];    
INSERT INTO [DMProd_DELTA_1].[dbo].[eto_references]
           ([etoeid]
           ,[references_itemid]
           ,[references_drawingid]
           ,[site]
           ,[status]
           ,[references_iid]
           ,[puid])
     SELECT [etoeid]
           ,[references_itemid]
           ,[references_drawingid]
           ,[site]
           ,[status]
           ,[references_iid]
           ,[puid]
            FROM [DMProd_Dev].[dbo].[eto_references]
TRUNCATE TABLE [DMProd_DELTA_1].[dbo].[eto_report]
INSERT INTO [DMProd_DELTA_1].[dbo].[eto_report]
           ([etoid]
           ,[projectname]
           ,[weirorderno]
           ,[customer]
           ,[status]
           ,[createduser]
           ,[createdtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[revision]
           ,[site]
           ,[childid]
           ,[puid])
     SELECT [etoid]
           ,[projectname]
           ,[weirorderno]
           ,[customer]
           ,[status]
           ,[createduser]
           ,[createdtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[revision]
           ,[site]
           ,[childid]
           ,[puid]
            FROM [DMProd_Dev].[dbo].[eto_report]

TRUNCATE TABLE [DMProd_DELTA_1].[dbo].[etoitem_report]
INSERT INTO [DMProd_DELTA_1].[dbo].[etoitem_report]
           ([erid]
           ,[eid]
           ,[hasgadrwng_iid]
           ,[hasdocument_iid]
           ,[hasrouting]
           ,[orderparts_iid]
           ,[references_iid]
           ,[status]
           ,[createduser]
           ,[createdtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[hasga_drawingid]
           ,[hasrouting_drawingid]
           ,[hasdocument_drawingid]
           ,[orderparts_drawingid]
           ,[references_drawingid]
           ,[puid])
     SELECT [erid]
           ,[eid]
           ,[hasgadrwng_iid]
           ,[hasdocument_iid]
           ,[hasrouting]
           ,[orderparts_iid]
           ,[references_iid]
           ,[status]
           ,[createduser]
           ,[createdtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[hasga_drawingid]
           ,[hasrouting_drawingid]
           ,[hasdocument_drawingid]
           ,[orderparts_drawingid]
           ,[references_drawingid]
           ,[puid]
            FROM [DMProd_Dev].[dbo].[etoitem_report]
TRUNCATE TABLE [DMProd_DELTA_1].[dbo].[itemreport_dataset]
INSERT INTO [DMProd_DELTA_1].[dbo].[itemreport_dataset]
           ([iid]
           ,[datasetname]
           ,[datasetdesc]
           ,[datasettype]
           ,[datasetstatus]
           ,[status]
           ,[createduser]
           ,[createdtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[documenttype]
           ,[pwnt_path]
           ,[psd_path]
           ,[pfile_name]
           ,[site]
           ,[puid])
     SELECT [iid]
           ,[datasetname]
           ,[datasetdesc]
           ,[datasettype]
           ,[datasetstatus]
           ,[status]
           ,[createduser]
           ,[createdtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[documenttype]
           ,[pwnt_path]
           ,[psd_path]
           ,[pfile_name]
           ,[site]
           ,[puid]
            FROM [DMProd_Dev].[dbo].[itemreport_dataset]
TRUNCATE TABLE [DMProd_DELTA_1].[dbo].[items];
INSERT INTO [DMProd_DELTA_1].[dbo].[items]  ([itemid]
           ,[itemname]
           ,[description]
           ,[revision]
           ,[drawingid]
           ,[site]
           ,[createduser]          
           ,[lastmoduser]          
           ,[updatedrefid]
           ,[status]
           ,[dcoid]
           ,[designatedprefpart]
           ,[length]
           ,[width]
           ,[height]
           ,[weight]
           ,[erp_part_name]
           ,[erp_part_description]
           ,[material_code]
           ,[t4s_enabled]
           ,[datereleased]
           ,[aliasid]
           ,[altid]
           ,[drawing_revision]
           ,[legacy_part_number]
           ,[legacy_document_number]
           ,[itemtype]
           ,[itemstatus]
           ,[encumbrance]
           ,[puid])
           SELECT [itemid]
           ,[itemname]
           ,[description]
           ,[revision]
           ,[drawingid]
           ,[site]
           ,[createduser]          
           ,[lastmoduser]          
           ,[updatedrefid]
           ,[status]
           ,[dcoid]
           ,[designatedprefpart]
           ,[length]
           ,[width]
           ,[height]
           ,[weight]
           ,[erp_part_name]
           ,[erp_part_description]
           ,[material_code]
           ,[t4s_enabled]
           ,[datereleased]
           ,[aliasid]
           ,[altid]
           ,[drawing_revision]
           ,[legacy_part_number]
           ,[legacy_document_number]
           ,[itemtype]
           ,[itemstatus]
           ,[encumbrance]
           ,[puid]
            FROM [DMProd_Dev].[dbo].[items];
TRUNCATE TABLE   [DMProd_DELTA_1].[dbo].[items_doc_references]         
INSERT INTO [DMProd_DELTA_1].[dbo].[items_doc_references]
           ([iid]
           ,[document_itemid]
          
           ,[site]
           ,[createduser]
           ,[createdtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[status]
           ,[puid])
     SELECT [iid]
           ,[document_itemid]
          
           ,[site]
           ,[createduser]
           ,[createdtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[status]
           ,[puid]
           FROM [DMProd_Dev].[dbo].[items_doc_references]
TRUNCATE TABLE       [DMProd_DELTA_1].[dbo].[led_iom_certificate]  
INSERT INTO [DMProd_DELTA_1].[dbo].[led_iom_certificate]
           ([docname]
           ,[path]
           ,[docrefid]
           ,[doctype]
           ,[description]
           ,[createduser]
           ,[lastmoduser]
           ,[createddtm]
           ,[lastmoddtm]
           ,[toolid]
           ,[site]
           ,[puid])
    SELECT [docname]
           ,[path]
           ,[docrefid]
           ,[doctype]
           ,[description]
           ,[createduser]
           ,[lastmoduser]
           ,[createddtm]
           ,[lastmoddtm]
           ,[toolid]
           ,[site]
           ,[puid]
            FROM [DMProd_Dev].[dbo].[led_iom_certificate]
TRUNCATE TABLE  [DMProd_DELTA_1].[dbo].[led_ir]   
INSERT INTO [DMProd_DELTA_1].[dbo].[led_ir]
           ([LEDItemID]
           ,[revision]
           ,[toolname]
           ,[description]
           ,[wll]
           ,[tare]
           ,[status]
           ,[createduser]
           ,[createddtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[tooltype]
           ,[toolstatus]
           ,[length]
           ,[width]
           ,[height]
           ,[dco]
           ,[drawingid]
           ,[site]
           ,[puid])
    SELECT  [LEDItemID]
           ,[revision]
           ,[toolname]
           ,[description]
           ,[wll]
           ,[tare]
           ,[status]
           ,[createduser]
           ,[createddtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[tooltype]
           ,[toolstatus]
           ,[length]
           ,[width]
           ,[height]
           ,[dco]
           ,[drawingid]
           ,[site] 
           ,[puid]
           FROM [DMProd_Dev].[dbo].[led_ir]
TRUNCATE TABLE [DMProd_DELTA_1].[dbo].[led_support_part]
INSERT INTO [DMProd_DELTA_1].[dbo].[led_support_part]
           ([partname]
           ,[description]
           ,[ptype]
           ,[status]
           ,[createduser]
           ,[createddtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[toolid]
           ,[site]
           ,[puid])
     SELECT [partname]
           ,[description]
           ,[ptype]
           ,[status]
           ,[createduser]
           ,[createddtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[toolid]
           ,[site]
           ,[puid]
            FROM [DMProd_Dev].[dbo].[led_support_part]
TRUNCATE TABLE [DMProd_DELTA_1].[dbo].[led_support_products]
INSERT INTO [DMProd_DELTA_1].[dbo].[led_support_products]
           ([toolid]
           ,[productname]
           ,[description]
           ,[ptype]
           ,[status]
           ,[createduser]
           ,[createddtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[site]
           ,[puid])
     SELECT [toolid]
           ,[productname]
           ,[description]
           ,[ptype]
           ,[status]
           ,[createduser]
           ,[createddtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[site]
           ,[puid]
            FROM [DMProd_Dev].[dbo].[led_support_products]
TRUNCATE TABLE [DMProd_DELTA_1].[dbo].[pcn_impacteditem]
INSERT INTO [DMProd_DELTA_1].[dbo].[pcn_impacteditem]
           ([pid]
           ,[impacteditem_iid]
           ,[createduser]
           ,[createdtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[status]
           ,[puid])
    SELECT [pid]
           ,[impacteditem_iid]
           ,[createduser]
           ,[createdtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[status]
           ,[puid]
           FROM [DMProd_Dev].[dbo].[pcn_impacteditem]
TRUNCATE TABLE [DMProd_DELTA_1].[dbo].[pcn_problemitem]
INSERT INTO [DMProd_DELTA_1].[dbo].[pcn_problemitem]
           ([pid]
           ,[problemitem_iid]
           ,[createduser]
           ,[createdtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[status]
           ,[puid])
     SELECT [pid]
           ,[problemitem_iid]
           ,[createduser]
           ,[createdtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[status]
           ,[puid] FROM [DMProd_Dev].[dbo].[pcn_problemitem]
TRUNCATE TABLE [DMProd_DELTA_1].[dbo].[pcn_report]
INSERT INTO [DMProd_DELTA_1].[dbo].[pcn_report]
           ([pcnid]
           ,[revision]
           ,[pcnname]
           ,[description]
           ,[synopsis]
           ,[createduser]
           ,[createdtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[status]
           ,[site]
           ,[puid])
     SELECT [pcnid]
           ,[revision]
           ,[pcnname]
           ,[description]
           ,[synopsis]
           ,[createduser]
           ,[createdtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[status]
           ,[site]
           ,[puid] FROM [DMProd_Dev].[dbo].[pcn_report]
TRUNCATE TABLE [DMProd_DELTA_1].[dbo].[pcn_solutionitem]
INSERT INTO [DMProd_DELTA_1].[dbo].[pcn_solutionitem]
           ([pid]
           ,[solutionitem_iid]
           ,[createduser]
           ,[createdtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[status]
           ,[puid])
     SELECT [pid]
           ,[solutionitem_iid]
           ,[createduser]
           ,[createdtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[status]
           ,[puid]
           FROM [DMProd_Dev].[dbo].[pcn_solutionitem]
TRUNCATE TABLE  [DMProd_DELTA_1].[dbo].[pcnitem_report]
INSERT INTO [DMProd_DELTA_1].[dbo].[pcnitem_report]
           ([pid]
           ,[problemitem_iid]
           ,[solutionitem_iid]
           ,[impacteditem_iid]
           ,[createduser]
           ,[createdtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[status]
           ,[puid])
     SELECT [pid]
           ,[problemitem_iid]
           ,[solutionitem_iid]
           ,[impacteditem_iid]
           ,[createduser]
           ,[createdtm]
           ,[lastmoduser]
           ,[lastmoddtm]
           ,[status]
           ,[puid] FROM [DMProd_Dev].[dbo].[pcnitem_report];
	
/*TRUNCATE TABLE DMProd_DELTA_1.[dbo].[usertype];	
	SET IDENTITY_INSERT [usertype] on
insert into [dbo].[usertype](utid, name, description, createuser, createdtm, lastmoduser, lastmoddtm, status)  
values (1, 'RegularUser', 'Premissions Restricted', 1, Getdate(), 1, Getdate(), 1)

insert into [dbo].[usertype](utid, name, description, createuser, createdtm, lastmoduser, lastmoddtm, status)  
values (2,'Admin', 'Full Premissions', 1, Getdate(), 1, Getdate(), 1)

insert into [dbo].[usertype](utid, name, description, createuser, createdtm, lastmoduser, lastmoddtm, status)  
values (3,'AMRUser', 'Create Problem Report', 1, Getdate(), 1, Getdate(), 1)

SET IDENTITY_INSERT [usertype] off
TRUNCATE TABLE DMProd_DELTA_1.[dbo].[users];
INSERT INTO DMProd_DELTA_1.[dbo].[users]
           ([first_name]
           ,[last_name]
           ,[username]
           ,[password]
           ,[companyname]
           ,[title]
           ,[phone]
           ,[fax]
           ,[email]
           
           ,[utype]
           ,[status]
           ,[manageremail]
           ,[amr])
     VALUES('Admin','Admin','Admin',0x70617373776F7264,NULL,NULL,NULL,NULL,'admin@admin.com',2,1,NULL,NULL);


---------- insert data in role table ------------
TRUNCATE TABLE [dbo].[userrole] 
insert into [dbo].[userrole] (uid, utid, enabled, createdon, createdby) 
select uid, isnull(utype,1), 'Y', GETDATE(), 1 from [dbo].[users]
update [dbo].[userrole] set utid=2 where uid = (select uid from [dbo].[users]  where email = 'admin@admin.com');

*/
            
            
	
END
GO
