<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ErrorHandling" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="DMProdEntities" connectionString="metadata=res://*/Models.EntityModel.csdl|res://*/Models.EntityModel.ssdl|res://*/Models.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PACARTDMRTTCH01\SQLDATAMART;initial catalog=DMProd;persist security info=True;user id=datamartdb;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Defaultconnection" connectionString="data source=PACARTDMRTTCH01\SQLDATAMART;initial catalog=DMProd;persist security info=True;user id=datamartdb;password=password" providerName="System.Data.sqlclient"></add>
  </connectionStrings>
  <appSettings>
    <add key="count" value="100" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RestAPI" value="http://10.129.35.29/RestAPI/" />
  </appSettings>
  <ErrorHandling>
    <add key="EnableLogging" value="true" />
  </ErrorHandling>
</configuration>