
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container">
    <form>
        <div class="row">
            <div class="col-sm-6">
                <h1>Document Search</h1>
            </div>
        </div>
        
        <div class="col-sm-6">
            <div layout="row">
                <md-input-container flex="100">
                    <label for="input_2_id">Document Number</label>
                    <input name="clientName"  data-toggle="tooltip" title="Also called as Drawing_Number. This could be Alternate/Alias ID if Part centric, Drawing Item's Item_ID if Drawing centric.Transformations rules were applied to generate appropriate Drawing_Number" type="text" id="input_2_id" ng-keypress="DocsearchformEnter($event)" ng-model="documentNumber">
                </md-input-container>
                <!--@*<md-input-container flex="100">
                    <label>Document Number</label>
                    <autocomplete ng-model="documentNumber" attr-placeholder="Type to search document number..." click-activation="true" data="docnumber" on-type="searchdoc1" on-select=""></autocomplete>
                    <img class="spinner" ng-show="spinner" src="~/images/loader.gif" />
                </md-input-container>*@-->
            </div>
        </div>
        <div class="col-sm-6">
            <div layout="row">
                <md-input-container flex="100">
                    <label>Document Description</label>
                    <input name="clientName"data-toggle="tooltip" title="Description of the Engineering Document as stored in GPDM" ng-keypress="DocsearchformEnter($event)" ng-model="documentDescription">
                </md-input-container>
            </div>
        </div>
        <div class="col-sm-6">
            <div layout="row">
                <md-input-container flex="100">
                    <label>Legacy Part Number</label>
                    <input name="clientName"  data-toggle="tooltip" title="The old part code nomenclature or notation for the Engineering part" ng-keypress="DocsearchformEnter($event)" ng-model="legacyPartNumber">
                </md-input-container>
            </div>
        </div>

        <div class="col-sm-6">
            <div layout="row">
                <md-input-container flex="100">
                    <label>Legacy Document Number</label>
                    <input name="clientName"  data-toggle="tooltip" title="The old Document number nomenclature or notation for the Engineering Drawing" ng-keypress="DocsearchformEnter($event)" ng-model="LegDocumentNumber">
                    <div ng-messages="projectForm.clientName.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
            </div>
        </div>
        <div class="col-sm-6">
            <div layout="row">
                <md-input-container flex="100" ng-init="getitemstatus('Doc')">
                    <label>Document Status </label>
                    <!--<select ng-options="obj.value as obj.text for obj in array"></select>-->

                    <md-select name="docStatus" ng-model="docStatus.value">
                        <md-option ng-value="{{current.value}}" selected>{{current.label}}</md-option>
                        <md-option ng-repeat="x in itemstatuslist" value="{{x.oid}}">{{x.name}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
        <div class="col-sm-6">
            <div layout="row">
                <md-input-container flex="100">
                    <label>Document Type </label>
                    <md-select name="docType" ng-model="docType.value" ng-init="getdoctype()">
                        <md-option value="{{current.value}}" selected>{{current.label}}</md-option>
                        <md-option ng-repeat="xs in itemDoclist" value="{{xs.oid}}">{{xs.name}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
        <div class="col-sm-6">
            <div layout="row">
                <md-input-container flex="100">
                    <label>Part Description</label>
                    <input name="PartDesc" data-toggle="tooltip" title="ERP part description stored in GPDM. If unavailable Engineering Part description will be used" ng-keypress="DocsearchformEnter($event)" ng-model="PartDescription">
                </md-input-container>
            </div>
        </div>
        <div class="col-sm-6">
            <div layout="row">
                <md-input-container flex="100">
                </md-input-container>
            </div>
        </div>
        <div class="row search_button">
            <div class="col-sm-12">

                <div class="col-sm-4">
                    <md-button md-no-ink type="reset" ng-click="resetDocValue()" class="md-raised">CLEAR</md-button>
                </div>

                <div class="col-sm-4">
                    <md-button md-no-ink ng-click="Docsearchform()" class="md-raised md-primary dcobtn">SEARCH</md-button>
                </div>
                <div class="col-sm-4">
                    <div align="right">(Asterisk(*) can be used to perform wildcard searches)</div>
                </div>
            </div>
        </div>
    </form>
    <div class="container table-responsive scrollArea" ng-show="list2" style="height:900px">
        <div>
            <ul class="pagination pull-right">
                <li ng-class="{'active': item === criteria.page}" ng-repeat='item in paging.pagearray'>

                    <a ng-if="item == 'Prev'" ng-click="pagelistClick(documentlist); Prev()">Prev</a>

                    <a ng-if="(!(item == 'Prev' || item == 'Next' ||  item == '..' || item == '...'))"
                        ng-click="pagelistClick(documentlist); criteria.page = item;">{{item}}</a>

                    <!-- No click event -->
                    <a ng-if="(item == '..' || item == '...')">{{item}}</a>

                    <a ng-if="item == 'Next'" ng-click="pagelistClick(documentlist); Next()">Next</a>
                </li>
            </ul>
        </div>
        <h2>Search Result</h2>
        <div layout="row" ng-init="search()">
            <!--@*<md-input-container flex="100">
            <label>Search keyword...</label>
            <input ng-model="criteria.searchtext" ng-model-options="{debounce {'default' 1000, 'blur'0}}">
        </md-input-container>*@-->
        </div>
        <!--@*<div layout="row">
            <md-input-container flex="100" ng-init="search()">
                <label>Search keyword...</label>
                <input ng-model="criteria.searchtext" ng-model-options="{debounce {'default' 1000, 'blur'0}}">
            </md-input-container>
        </div>*@-->


        <table class="table  table-hover table-condensed " style="color: #000;">
            <thead>
                <tr>
                    <div class="row" style="background-color:#005eb8; padding:7px;color: white;">
                        <div class="col-lg-4" ng-if="criteria">
                            Showing: {{ documentlist.length>0?(criteria.page -1) * criteria.pagesize + 1:0}} -
                            {{ documentlist.length>0?((criteria.page -1) * criteria.pagesize + paging.showing):0}}
                            of {{paging.total}} Records
                        </div>
                        <div class="col-lg-3">
                            Showing: Top  {{paging.total}} count of total records
                        </div>
                        <div class="col-lg-5 ">
                            <div class="pull-right">
                                Page: <input type='number'
                                             ng-model='criteria.page'
                                             min="1"
                                             max="{{paging.totalpages}}"
                                             style='width:70px;' />
                                of {{paging.totalpages}}
                                with page size <select ng-model="criteria.pagesize"
                                                       ng-options="obj as obj for obj in paging.pagingOptions" />
                            </div>
                        </div>
                    </div>

                </tr>
                <tr>

                    <th ng-click="criteria.sort = 'drawingid';">
                        <i ng-click="expandCollapseAll(!isexpanded, documentlist);isexpanded=!isexpanded">
                            <i ng-if="isexpanded" class="fa fa-minus"><img src="images/up.png" /></i>
                            <i ng-if="!isexpanded" class="fa fa-plus"><img src="images/down.png" /></i>
                        </i>
                        Document Number
                        <span class="fa fa-sort" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down ':!reverse}"></span>
                    </th>
                    <th ng-click="sort('description')">
                        Part Description
                        <span class="fa fa-sort" ng-show="sortKey=='description'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down ':!reverse}"></span>
                    </th>
                    <th ng-click="sort('itemtype')">
                        Part Type
                        <span class="fa fa-sort" ng-show="sortKey=='itemtype'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down ':!reverse}"></span>
                    </th>
                    <th ng-click="sort('revision')">
                        Document Revision
                        <span class="fa fa-sort" ng-show="sortKey=='revision'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down ':!reverse}"></span>
                    </th>
                    <th ng-click="sort('itemid')">
                        Part Number
                        <span class="fa fa-sort" ng-show="sortKey=='itemid'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down ':!reverse}"></span>
                    </th>
                    <th ng-click="sort('site')">
                        Site
                        <span class="fa fa-sort" ng-show="sortKey=='site'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down ':!reverse}"></span>
                    </th>
                    <th ng-click="sort('datereleased')">
                        Date Release
                        <span class="fa fa-sort" ng-show="sortKey=='datereleased'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down ':!reverse}"></span>
                    </th>
                    <th ng-click="sort('itemstatus')">
                        Document Status
                        <span class="fa fa-sort" ng-show="sortKey=='itemstatus'" ng-class="{'fa-chevron-up':reverse,'fa-chevron-down ':!reverse}"></span>
                    </th>
                </tr>
            </thead>
            <tbody id="table">
                <tr ng-repeat-start="user in documentlist">
                <tr class="animate">
                    <td>
                        <i ng-if="user.expanded" ng-click="user.expanded = false" class="fa fa-minus"><img src="images/up.png" /></i>
                        <i ng-if="!user.expanded" ng-click="user.expanded = true" class="fa fa-plus"><img src="images/down.png" /></i>
                        &nbsp;&nbsp; <a class="two" data-toggle="modal" data-target="#myModal" ng-click="ViewDeatails(user.iid)"><md-tooltip md-direction="left">Refresh</md-tooltip>{{user.drawingid}}<span ng-if='user.drawingid'><md-tooltip md-direction="bottom">View Details</md-tooltip></a>
                    </td>
                    <td>{{user.description}}</td>
                    <td>{{user.itemtype}}</td>
                    <td>{{user.docrevision}}</td>
                    <td>{{user.itemid}}</td>
                    <td>{{user.site}}</td>
                    <td>{{user.datereleased}}</td>
                    <td>{{user.status}}</td>
                <tr ng-if="user.expanded" ng-repeat-end="">
                    <td style="background: #fff;" colspan="16">
                        <table width="100%">
                            <tr>
                                <th>Dataset Name</th>
                                <th>Document Type</th>
                                <th>Document Description</th>
                                <th>DataSet Type</th>
                                <th>Legacy Part Number</th>
                                <th>Legacy Document Number</th>
                                <th>File Name</th>
                            </tr>
                            <tr ng-repeat-start="user1 in doclist[1] | filter:{'iid':user.iid, 'status':user.status}:true">
                                <td>{{user1.docname}}</td>
                                <td>{{user1.doctype}}</td>
                                <td>{{user1.docdesc}}</td>
                                <td>{{user1.dataset}}</td>
                                <td>{{user.legacy_part_number}}</td>
                                <td>{{user.legacy_document_number}}</td>
                                <td ng-if="(user1.fileurl != '')">
                                    <a class="text-success" style="color:green;font-weight:bold;" ng-if="(AuthValue.role.indexOf('RegularUser') >= 0 || user1.Secured=='N')" ng-click="fnDownLoad(user1.fileurl,user1.docname, user1.doctype)">{{user1.docname}}</a>
                                    <a class="text-danger" ng-if="!(AuthValue.role.indexOf('RegularUser') >= 0 || user1.Secured=='N')" data-toggle="modal" data-target="#passwordModal" ng-click="loginonfly()">{{user1.docname}}</a>
                                </td>
                                <td ng-if="!(user1.fileurl != '')">&nbsp;</td>
                            </tr>
                            <tr ng-repeat-end=""></tr>
                        </table>
                    </td>
                </tr>
                </tr>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="pull-right">
                <ul class="pagination">
                    <li ng-class="{'active': item === criteria.page}" ng-repeat='item in paging.pagearray'>

                        <a ng-if="item == 'Prev'" ng-click="pagelistClick(documentlist); Prev()">Prev</a>

                        <a ng-if="(!(item == 'Prev' || item == 'Next' ||  item == '..' || item == '...'))"
                           ng-click="pagelistClick(documentlist); criteria.page = item;">{{item}}</a>

                        <!-- No click event -->
                        <a ng-if="(item == '..' || item == '...')">{{item}}</a>

                        <a ng-if="item == 'Next'" ng-click="pagelistClick(documentlist); Next()">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-body">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>Part Details</h2>
                        </div>
                    </md-toolbar>
                    <table class="table table-striped" style="color: #000;    font-size: 10px">
                        <thead class="thead-dark">
                            <tr>
                                <th tabindex="0">
                                    Part Number
                                </th>
                                <th tabindex="0">
                                    Part Name
                                </th>
                                <th tabindex="0">
                                    PartType
                                </th>
                                <th tabindex="0">
                                    Part Revision
                                </th>
                                <th tabindex="0">
                                    Document Number
                                </th>
                                <th tabindex="0">
                                    Date Release
                                </th>
                                <th tabindex="0">
                                    Part Status
                                </th>
                                <th tabindex="0">
                                    Site
                                </th>
                            </tr>
                            <tr>
                                <td>{{items1[0][0].itemid}}</td>
                                <td>{{items1[0][0].itemname}}</td>
                                <td>{{items1[0][0].itemtype}}</td>
                                <td>{{items1[0][0].revision}}</td>
                                <td>{{items1[0][0].drawingid}}</td>
                                <td>{{items1[0][0].datereleased}}</td>
                                <td>{{items1[0][0].name}}</td>
                                <td>{{items1[0][0].site}}</td>
                            </tr>

                        </thead>
                        <tbody id="table">

                            <tr class="thead-dark">
                                <th>Part Description:</th>
                                <th>Legacy Part Number:</th>
                                <th>Legacy Document Number:</th>
                                <th>Tech Group:</th>
                                <th>Length:</th>
                                <th>Height:</th>
                                <th>Width:</th>
                                <th>Weight:</th>
                            </tr>
                            <tr>
                                <td>{{items1[0][0].description}}</td>
                                <td>{{items1[0][0].legacy_part_number}}</td>
                                <td>{{items1[0][0].legacy_document_number}}</td>
                                <td>{{items1[0][0].dcoid}}</td>
                                <td>{{items1[0][0].length}}</td>
                                <td>{{items1[0][0].height}}</td>
                                <td>{{items1[0][0].width}}</td>
                                <td>{{items1[0][0].weight}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>Document Details</h2>
                        </div>
                    </md-toolbar>
                    <table class="table table-striped" style="color: #000;    font-size: 10px">
                        <thead class="thead-dark">
                            <tr>
                                <th tabindex="0">
                                    Document Number
                                </th>
                                <th tabindex="0">
                                    Document Type
                                </th>
                                <!-- <th tabindex="0">
                                     GA Drawing
                                 </th> -->
                                <th tabindex="0">
                                    Document Description
                                </th>
                                <th tabindex="0">
                                    Document Status
                                </th>
                            </tr>
                            <tr ng-repeat-start="doc in items1[1]" >
                                <td>{{doc.drawingid}}</td>
                                <td>{{doc.doctype}}</td>
                                <!-- <td>{{doc.ga}}</td>  -->
                                <td>{{doc.docdesc}}</td>
                                <td><span ng-if='doc.drawingid'>{{doc.docstatus}}</span></td>
                            </tr>
                            <tr ng-repeat-end=""></tr>
                        </thead>
                    </table>

                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>PCN Details</h2>
                        </div>
                    </md-toolbar>
                    <table class="table table-striped" style="color: #000;    font-size: 10px">
                        <thead class="thead-dark">
                            <tr>
                                <th tabindex="0">
                                    PCN Number
                                </th>
                                <th tabindex="0">
                                    PCN Revision
                                </th>
                                <th tabindex="0">
                                    Synopsis
                                </th>
                                <th tabindex="0">
                                    PCN Description
                                </th>
                                <th tabindex="0">
                                    Problem Part
                                </th>
                                <th tabindex="0">
                                    Solution Part
                                </th>
                                <th tabindex="0">
                                    Impacted Part
                                </th>
                            </tr>
                            <tr>
                            <tr>
                                <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px; &:active,&:hover{overflow:visible;}"> <span title="{{aa}}" ng-repeat="aa in items1[2][0].pcnid| split:',':0 track by $index">{{aa}}<br /></span></td>
                                <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px; &:active,&:hover{overflow:visible;}">  <span title="{{bbb}}" ng-repeat="bbb in items1[2][0].pcnrevision| split:',':0 track by $index">{{bbb}}<br /></span></td>
                                <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px; &:active,&:hover{overflow:visible;}">  <span title="{{cc}}" ng-repeat="cc in items1[2][0].pcnsynopsis| split:',':0 track by $index">{{cc}}<br /></span></td>
                                <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px; &:active,&:hover{overflow:visible;}">  <span title="{{yy}}" ng-repeat="yy in items1[2][0].pcndescription| split:',':0 track by $index">{{yy}}<br /></span></td>
                                <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px; &:active,&:hover{overflow:visible;}">  <span title="{{dd}}" ng-repeat="dd in items1[2][0].problemid| split:',':0 track by $index">{{dd}}<br /></span></td>
                                <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px; &:active,&:hover{overflow:visible;}">  <span title="{{ff}}" ng-repeat="ff in items1[2][0].solutionid| split:',':0 track by $index">{{ff}}<br /></span></td>
                                <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px; &:active,&:hover{overflow:visible;}">  <span title="{{hh}}" ng-repeat="hh in items1[2][0].impactedid| split:',':0 track by $index">{{hh}}<br /></span></td>
                            </tr>
                            </tr>
                        </thead>
                    </table>

                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>ETO Details</h2>
                        </div>
                    </md-toolbar>
                    <table class="table table-striped" style="color: #000;    font-size: 12px">
                        <thead class="thead-dark">
                            <tr>
                                <th tabindex="0">
                                    ETO Number
                                </th>
                                <th tabindex="0">
                                    Project Name
                                </th>
                                <th tabindex="0">
                                    Order Number
                                </th>
                                <th tabindex="0">
                                    Customer Name
                                </th>

                                <th tabindex="0">
                                    Engineering Documentation
                                </th>
                                <!--
                                <th tabindex="0">
                                    Routing
                                </th>-->
                                <th tabindex="0">
                                    System GA/Plant Layout
                                </th>
                                <th tabindex="0">
                                    Order Parts
                                </th>
                                <th tabindex="0">
                                    ETO References
                                </th>
                            </tr>
                            <tr>
                                <td> <span ng-repeat="kkk in items1[3][0].etonumber| split:',':0 track by $index">{{kkk}}<br /></span></td>
                                <td style="white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px; &:active,&:hover{overflow:visible;}"> <span title="{{lll}}" ng-repeat="lll in items1[3][0].projectName| split:',':0 track by $index">{{lll}}<br /></span></td>
                                <td> <span ng-repeat="mmm in items1[3][0].ordernumber| split:',':0 track by $index">{{mmm}}<br /></span></td>
                                <td> <span ng-repeat="nnn in items1[3][0].etocustomer| split:',':0 track by $index">{{nnn}}<br /></span></td>
                                <td> <span ng-repeat="ooo in items1[3][0].document| split:',':0 track by $index">{{ooo}}<br /></span></td>
                                <!--<td> <span ng-repeat="ppp in items1[0].routing| split:',':0 track by $index">{{ppp}}<br /></span></td>-->
                                <td> <span ng-repeat="qqq in items1[3][0].ga| split:',':0 track by $index">{{qqq}}<br /></span></td>
                                <td> <span ng-repeat="rrr in items1[3][0].docpart| split:',':0 track by $index">{{rrr}}<br /></span></td>
                                <td> <span ng-repeat="sss in items1[3][0].ref| split:',':0 track by $index">{{sss}}<br /></span></td>

                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
    });
    </script>
