<?xml version="1.0" encoding="utf-8"?> 
<!-- 
  For more information on how to configure your ASP.NET application, please visit 
  http://go.microsoft.com/fwlink/?LinkId=301880 
  --> 
<configuration> 
  <configSections> 
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --> 
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" /> 
  </configSections> 
  <connectionStrings> 
    <remove name="LocalSqlServer" /> 
    <add name="DMProdEntities" connectionString="metadata=res://*/Models.EntityModel.csdl|res://*/Models.EntityModel.ssdl|res://*/Models.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FBDLT8ZHDG32\SQLEXPRESS;initial catalog=DMProd;persist security info=True;user id=sa;password=India@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="Defaultconnection" connectionString="data source=FBDLT8ZHDG32\SQLEXPRESS;initial catalog=DMProd;persist security info=True;user id=sa;password=India@123" providerName="System.Data.sqlclient"></add>  
  </connectionStrings> 
  <appSettings> 
    <add key="count" value="100" /> 
    <add key="webpages:Version" value="3.0.0.0" /> 
    <add key="webpages:Enabled" value="false" /> 
    <add key="ClientValidationEnabled" value="true" /> 
    <add key="UnobtrusiveJavaScriptEnabled" value="true" /> 
    <add key="WatermarkComment" value="Weir Minerals – For reference only" /> 
    <add key="mailHost" value="smtp.mail.yahoo.com" />
    <add key="mailPort" value="587" />
    <add key="mailFrom" value="beloit.regal@yahoo.com" />
    <add key="mailBody" value="Your password is {0} for the login Id : {1}" />
    <add key="mailSubject" value="Forgot Password Response" />
    <add key="networkUser" value="beloit.regal@yahoo.com" />
    <add key="networkpwd" value="sitecore123" />
    <add key="CacheExpirationMins" value="1440" />
    <add key="UploadFilePath" value="D:\Projects\DATAMART_HANDOVER\DotNetSource\DotNetSource\upload\" />
    <add key="AMRMailBody" value="Dear User, &lt;br&gt; &lt;br&gt; A {0} has been created through Datamart with the below information. &lt;br&gt;          Requestor Mail id:- {1} &lt;br&gt; Part Number :- {2} &lt;br&gt; Part Description :- {3} &lt;br&gt; {4}  " />
    <add key="AMRMailSubject" value="{0} ( Part Number - {1} )" />
  </appSettings> 
  <system.web.extensions> 
    <scripting> 
      <webServices> 
        <jsonSerialization maxJsonLength="819200000" /> 
      </webServices> 
    </scripting> 
  </system.web.extensions> 
  <!-- 
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367. 

    The following attributes can be set on the <httpRuntime> tag. 
      <system.Web> 
        <httpRuntime targetFramework="4.5.1" /> 
      </system.Web> 
  --> 
  <system.web> 
    <authentication mode="None" /> 
    <compilation targetFramework="4.5.1" /> 
    <httpRuntime targetFramework="4.5.1" executionTimeout="36000" maxRequestLength="8162" /> 
      <sessionState mode="InProc" timeout="1" /> 
      <identity impersonate="true" /> 
      <customErrors mode="Off" /> 
  </system.web> 
  <system.webServer> 
    <validation validateIntegratedModeConfiguration="false" /> 
        <httpErrors errorMode="Detailed" /> 
      <!--
        <tracing> 
            <traceFailedRequests> 
                <add path="*"> 
                    <traceAreas> 
                        <add provider="ASP" verbosity="Verbose" /> 
                        <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" /> 
                        <add provider="ISAPI Extension" verbosity="Verbose" /> 
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI" verbosity="Verbose" /> 
                    </traceAreas> 
                    <failureDefinitions timeTaken="00:00:00" statusCodes="100-999" /> 
                </add> 
            </traceFailedRequests> 
        </tracing>  -->
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer> 
  <runtime> 
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
      <dependentAssembly> 
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" /> 
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" /> 
      </dependentAssembly> 
      <dependentAssembly> 
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" /> 
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" /> 
      </dependentAssembly> 
      <dependentAssembly> 
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" /> 
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" /> 
      </dependentAssembly> 
      <dependentAssembly> 
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" /> 
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" /> 
      </dependentAssembly> 
      <dependentAssembly> 
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" /> 
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" /> 
      </dependentAssembly> 
      <dependentAssembly> 
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" /> 
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" /> 
      </dependentAssembly> 
      <dependentAssembly> 
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" /> 
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" /> 
      </dependentAssembly> 
      <dependentAssembly> 
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" /> 
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" /> 
      </dependentAssembly> 
      <dependentAssembly> 
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" /> 
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" /> 
      </dependentAssembly> 
      <dependentAssembly> 
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" /> 
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" /> 
      </dependentAssembly> 
    </assemblyBinding> 
  </runtime> 
  <entityFramework> 
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework"> 
      <parameters> 
        <parameter value="mssqllocaldb" /> 
      </parameters> 
    </defaultConnectionFactory> 
    <providers> 
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" /> 
    </providers> 
  </entityFramework> 
  <system.codedom> 
    <!--<compilers> 
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" /> 
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" /> 
    </compilers>--> 
  </system.codedom> 
  <system.webServer> 
    <directoryBrowse enabled="true" /> 
  </system.webServer> 
</configuration> 
<!--ProjectGuid: 59D7B334-5642-45CF-853C-3EE4248725B3--> 