
@{
    ViewBag.Title = "DataMart -Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-min.js"></script>
<script src="~/Scripts/main.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

<div ng-view></div>


